footer{
	background-color: $offgrey;
	.TopFooter{
		padding-top: 5rem;
		padding-bottom: 0;
		padding-right:0rem;
		padding-left: 0rem;
		border-bottom: thin solid rgba($white, 0.2);
		@media(min-width: 767px){
			padding-top: 5rem;
			padding-bottom: 3rem;
			padding-right: 0;
			padding-left: 0;
		}
		.LogoBox{
			max-width: 875px;
			margin: 0 auto;
			padding: 0 1.5rem;

			.Footerlogo{
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 2rem;
				@media(min-width: 768px){
					align-items: flex-start;
					justify-content: flex-start;
					margin-bottom: 0;
				}
			}
			.FormBlock{
				margin-top: 0.75rem;
				margin-bottom: 1.5rem;
				@media(min-width: 767px){
					margin-bottom: 0;
				}
				h4{
					color: $white;
					font-size: 2.4rem;
					margin-bottom: 8px;
				}
				form{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					position: relative;
					
					input[type="email"]{
						width: 100%;
						padding: 14px;
						padding-right: 8.3rem;
						border: thin solid #c0c0c0;
						background-color: $offgrey;
						font-size: 14px;
						font-family: $secondaryFont;
						color: $white;
						&:focus{
							outline: none;
						}
					}
					input[type="submit"]{
						background: $darkpink url(../img/arwright.svg) 20px 8px no-repeat;
					    background-position: center;
					    cursor: pointer;
					    border: none;
					    width: 58px;
					    padding: 6px;
					    margin-top: 0px;
					    margin-left: -66px;
					    transition: all .3s;
					    &:focus{
							outline: none;
						}
					    &:hover{
					    	background-color:$orange;
					    }
					}
				}
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0 0 0;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				flex-wrap: wrap;
				@media(min-width: 767px){
					flex-wrap: inherit;
					align-items: center;
					justify-content: center;
					margin: 2.2rem 0 0;
				}
				li{
					/*flex-basis: auto;*/
					/*margin: 0 1rem;*/
					padding: 0 1rem;
					margin-top: 1rem;
					border-right: thin solid $white;
					line-height: 1;
					@media(min-width: 767px){
						padding: 0 2rem;
						margin-top: 0;
					}
					&:first-child{
						padding-left: 0rem;
						@media(min-width: 992px){
							padding-left: 1rem;
						}
					}
					&:last-child{
						border-right: 0;
					}
					a{
						text-decoration: none;
						color: $white;
						font-family: $secondaryFont;
						font-size: 12px;
						transition: 0.3s;
						@media(min-width: 767px){
							font-size: 14px;
							opacity: 0.8;
						}
						&:hover{
                         color:$darkpink;
						}
					}
				}
			}
		}
	}
	.BottomFooter{
		padding: 1.5rem 0 0;
		@media(min-width: 768px){
			padding: 1.5rem 0;
		}
		.Copyright{
			border-bottom: thin solid rgba($white, 0.3); 
			border-top: thin solid rgba($white, 0.3); 
			text-align: center;
			padding: 1rem 0;
			@media(min-width: 768px){
				border: none;
				text-align: left;
				padding: 0;
			}
			p{
				color:$white;
				opacity:0.5;
				margin-bottom: 0;
				font-size: 14px;
			}
		}
		.Deliveryby{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1rem 0;
			@media(min-width: 768px){
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				padding: 0;
			}
			p{
				color:$white;
				opacity:0.5;
				margin-bottom: 0;
				font-size: 14px;
				a{
					text-decoration: none;
					color:$white;
					font-weight: 500;
					opacity: 1;
					transition: 0.3s;
					&:hover{
						color:$white;
						font-weight:600;
						text-decoration: underline;
					}
				/*	font-style: italic;*/
				}
			}
		}
	}
}

.SocialBlock{
	display: flex;
	align-items: center;
	justify-content: center;
		ul{
			list-style: none;
			padding: 0;
			margin: 1rem 0 0;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: initial;
			@media (min-width: 768px){
				margin: 0;
				align-items: center;
				justify-content: center;
			}
			li{
				/*margin-top: 1rem;*/
				
				margin-right: 1rem;
				p{
					color:$white;
				    opacity:0.5;
					margin-bottom: 0;
				}
				a{
					width: 25px;
					height: 25px;
					border: thin solid rgba($white, 0.5);
					border-radius: 50%;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: 0.2s all;
					padding: 6px !important;
					opacity: 0.8;
					&:hover{
						border-color: $orange;
					}
				}
			}
		}
	}