
main{
	margin-top: 150px !important;
	@media (min-width: 767px){
		margin-top: 122px !important;
	}
}

header{
	background-color:$white;
	padding: 0 0;
	position: fixed;
    left: 0;
    top: 0;
    z-index:999;
    width: 100%;
    transition: 0.4s;
    @media (min-width: 767px){
    	padding:1.5rem 0;
    }
	.TopHeader{
		padding: 1rem 0;
		background-color: $lightpink;
		.ticker_wrap {
			width: 360px;
			overflow: hidden;
		}
		.ticker{
			overflow: hidden
		}
		.tickertext {
			display: inline-block;
			white-space: nowrap;
			width: fit-content;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: ticker;
			animation-duration: 10s;
		}
		p{
			padding: 0;
			text-align: center;
			color: $offblack;
			margin: 0;
			font-size: 15px;
			font-weight: 600;
		}
	}
	.NavigationBlock{
		.HeaderLogo{
			a{
				img{
					display: block;
				}
				&:last-child{
					display: none;
				}
			}
	    }
		.TopMenu{
			@media(min-width:768px){
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-bottom: 1.6rem;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				li{
					margin-left: 3.2rem;

					&:first-child{
						margin-left: 0;
					}
					a{	
						text-decoration: none;
						font-size: 15px;
						color: $grey;
						font-family: $secondaryFont;
						position: relative;
					}
					@media(max-width:1199px) and (min-width:991px){
				      margin-left:1.5rem;
			        }
				}
			}
			>ul{
				li{
                 a{
                 	transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    transition: all 0.3s ease-out;
                    &:before{
						content: "";
					    position: absolute;
					    z-index: -1;
					    left: 51%;
					    right: 51%;
					    bottom: -5px;
					    background-color: rgba($darkpink,0.8);
					    height: 1px;
					    transition-property: left, right;
					    transition-duration: 0.3s;
					    transition-timing-function: ease-out;
					}
					&:hover{
						color:$darkpink;
						&:before{
							left:0;
							right:0;
						}
					}
                 }
				}
				@media (max-width: 991px) and (min-width: 768px){
			      display:none;
			    }
			}
			.topbarNav{
				ul{
					align-items: center;
					li{
						&:first-child{
							margin-left: 3.2rem;
							display: flex;
						    align-items: center;
						    justify-content: space-between;
						}
						svg{
							width: 15px;
                            height: 20px;
                            fill: #454545;
                            vertical-align: middle;
                            transition:0.25s;
						}
						.profile-icon{
						width: 36px;
					    height: 36px;
					    font-size:14px;
					    font-weight: 600;
					    border-radius: 50%;
					    background-color: $darkpink;
					    display: flex;
					    align-items: center;
					    justify-content: center;
					    padding: 10px;
					    color:$white;
					    transition: 0.3s;
						    &:hover{
						    	background-color:$darkblue;
						    }
					    }
					    a{
					    	&:hover{
                              svg{
                                fill:$darkpink;
					    	  }
					    	}
					    }
					}
				}
			}
		}
		.MainMenu{
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				align-items: flex-end;
				justify-content: flex-end;
				li{
					margin-right: 3.9rem;
					 &:last-child{
					 	margin-right:0;
					 }
					a{
						text-decoration: none;
						color: $base;
						font-family: $secondaryFont;
						text-decoration: none;
						font-size: 16px;
						position: relative;
						z-index: 1;
						transform: perspective(1px) translateZ(0);
                        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                        transition: all 0.3s ease-out;
						&:before{
							content: "";
						    position: absolute;
						    z-index: -1;
						    left: 51%;
						    right: 51%;
						    bottom: -5px;
						    background-color: rgba($darkpink,0.8);
						    height: 1px;
						    transition-property: left, right;
						    transition-duration: 0.3s;
						    transition-timing-function: ease-out;
						}
						&:hover{
							color:$darkpink;
							&:before{
								left:0;
								right:0;
							}
						}
					}
					@media(min-width:768px) and (max-width: 991px){
						margin-right:1.5rem;
						a{
							font-size:13px;
						}
					}
					&.submenu{
						position: relative;
						margin-left: 0;
						a{
							padding-right: 1.85rem;
						}
						&:after{
							content: '';
							position: absolute;
							background: url(../img/navdown.svg) 0 0 no-repeat;
							width: 13px;
							height: 8px;
							right: 0;
							top: 8px;
						}
						>ul{
							width:700px;
							position: absolute;
							right:0;
							top:40px;
							padding: 35px 20px 15px;
							background-color: #2c2c2c;
						    transition: all .3s ease-out;
						    transform: rotateX(90deg);
						    transform-origin: top;
						    opacity: 0;
						    display: flex;
						    flex-wrap:wrap;
						    align-items: flex-start;
						    justify-content: flex-start;
						    margin:0 -10px;
							    >li{
							    	flex:25%;
							    	max-width:25%;
							    	padding:0 10px;
							    	margin:0;
							    	>a{
							    		color:$white;
							    		display: inline-block;
							    		font-size: 16px;
									    opacity: 1;
									    pointer-events: none;
									    margin-bottom: 1.4rem;
									    padding-right:0;
							    		&:before{
							    			display:none;
							    		}
							    	}
							    }
								ul {
									display: block;
									li{
										margin-left:0;
										margin-right:0;
										margin-bottom:1.4rem;
										a{
											color:$white;
											padding-right:0;
											display: inline-block;
											font-size:14px;
											opacity:0.8;
											transition:0.25s;
											&:hover{
												color:$darkpink;
												opacity:1;
											}
										}
									}
								}
								>span{
									position: absolute;
									right: 12px;
                                    top: 3px;
									z-index:1;
									display:block;
									font-size:24px;
									opacity:0.7;
									font-weight: 900;
									color:$white;
									cursor: pointer;
									transition:0.25s;
									&:hover{
					                 opacity:1;
									}
								}
					        }

					        &.openSubMenu{
					        	>ul{
					        		opacity: 1;
								    transform: rotateX(0deg);
								    transform-origin: top;	 
					        	}
					        }
					}
					@media(max-width:1199px) and (min-width:991px){
				      margin-right:2rem;
				      a{
				      	font-size:15px;
				      }
			        }
				}
			}
		}
	}

	.MobileMenu{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 15px;
		position: relative;
		transition:0.4s;
		@media (min-width: 767px){
			padding: 0;
		}
		.HeaderLogo{
			.StillLogo{
				img{
					width:225px;
				}
			}
			a:last-child{
				display: none;
			}
		}
		/*.MenuButton{
			flex-basis: 25%;
			
		}*/

		.menuBtn {
			height: 45px;
			width: 45px;
			position: absolute;
			right: 15px;
			top: 50%;
			transform:translateY(-50%);
			z-index: 101;
			padding: 5px;
			border: thin solid #ccc;
			border-radius: 0;
			> span {
				background-color: $darkpink;
				border-radius: 1px;
				height: 2px;
				width: 61%;
				position: absolute;
				left: 53%;
				top: 51%;
				margin: -1px 0 0 -15px;
				transition: height 100ms;
				&:after, &:before {
					content: '';
					background-color: $darkpink;
					border-radius: 1px;
					height: 2px;
					width: 100%;
					position: absolute;
					left: 50%;
					margin-left: -13px;
					transition: all 200ms;
				}
				&:after {
					top: -7px;
				}
				&:before {
					bottom: -7px;
				}
			}
			/*&.act {
				> span {
					height: 0;
					&:after, &:before {
						background-color: $darkpink;
						top: 1px;
					}
					&:after {
						transform: rotate(45deg);
					}
					&:before {
						transform: rotate(-45deg);
					}
				}
			}*/
		}
		/* main menu block */
		.mainMenu {
			position: fixed;
			height:100vh;
			overflow-y:auto;
			right:0;
			top:0;
			width:375px;
			transform:translateX(200%);
			transition: all 0.25s ease;
			background-color:#2c2c2c;
			padding-top:3rem;
			@media(max-width: 575px){
				width:75vw;
			}
		     >span{
				position: absolute;
				right:15px;
				top:5px;
				z-index:1;
				display:block;
				font-size:24px;
				opacity:0.7;
				font-weight: 900;
				color:$white;
				cursor: pointer;
				transition:0.25s;
				&:hover{
                 opacity:1;
				}
			}
			
			/*&.act {
				transform: translateX(0);
				z-index:999;
				.menuOverlay{
					visibility: visible;
				    opacity: 1;
				    z-index: 990;
				}
			}*/
			h4{
				color:$white;
				font-size:2.4rem;
				padding:15px 20px;
			}
			
			ul{
				padding:0;
				margin:0;
				li{
					a{
						font-family: $secondaryFont;
						padding:10px 20px;
						display: block;
						position: relative;
						color:$white;
						font-size:16px;
					}
				}
				&.categoryMenu{
					padding:0;
					>li{
						border-bottom: 1px solid #cccccc36;
						position: relative;
						a{
							width:calc(100% - 45px);
							position: static;
							span{
							height: 42px;
                            width: 50px;
                            position: absolute;
                            top:0;
                            right:0;
                            z-index:9;
                            transition: 0.3s;
                            &.spanRotate{
                            	transform: rotate(90deg);
                            }
								&:after{
									content: "";
								    width: 8px;
								    height: 13px;
								    background:url(../img/right_arrow.svg) no-repeat center;
								    background-size: contain;
								    position: absolute;
								    top: 50%;
								    left: 50%;
								    transform: translate(-50%, -50%);
								    transition: all .25s ease;
								}
						    }
						}
						ul{
							padding:0;
							z-index: -1;
                            height: 0;
                            transition: all .4s ease-out;
						    transform: rotateX(90deg);
						    transform-origin: top;
						    opacity: 0;
						    display: block;

							>li{
								a{
									font-size:14px;
									padding:8px 20px;
									font-weight:500;
									opacity:0.8;
									color:#white;
								}
							}
						}
						&.Active_MobileDropdown{
							ul{
								height: auto;
							    opacity: 1;
							    transform: rotateX(0deg);
							    transform-origin: top;
							    z-index:9;
							}
						}
					}
				}
			}
			/*a {
				color: #19b698;
				display: inline-block;
				font-size: 18px;
				&.suBtn {
					color: #fff;
				}
			}*/

		}
		/* sign up button */
		.suBtn {
			background-color: blue;
			border-radius: 5px;
			padding: 10px 20px;
		}

		.menuOverlay{
			   	background-color: rgba(51,51,51,0.77);
			    position: fixed;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    visibility: hidden;
			    opacity: 0;
			    z-index: -1;
/*			    display: block;*/
			    transition: all .35s ease;
			 }
		&.act{
			.mainMenu{
				transform: translateX(0);
				z-index:999;
			}
			.menuOverlay{
               visibility: visible;
			    opacity: 1;
			    z-index: 9;
			}
		}
	}
	.StillLogo{
   		transition: 0.2s all;
   		display: block;
   }
   .ScrollLogo{
   	display: none;
   	transition: 0.2s all;
   }
	&.stickyHeader{
		padding: 0.75rem 0;
		border-bottom:1px solid #e1e1e1;
       .TopMenu{
       	/*transform: translateY(-40px);*/
       	display: none;
       }
       .StillLogo{
       	display: none;
       }
       .ScrollLogo{
       	display: block;
       	img{
       		width:60px;
       	}
       }
	}
}

header{
	.mobile_top_nav{
		padding:1rem 1.5rem;
		border-bottom:1px solid #e1e1e1;
		font-family: $secondaryFont;
		color:#454545;
		ul{
			display: flex;
			align-items: center;
			justify-content: space-between;
			li{
				margin-right:2rem;
				&:first-child{
					flex:auto;
					display: flex;
					align-items: center;
				}
				&:last-child{
					margin-right:0;
				}
				.profile-icon{
				width: 35px;
			    height: 35px;
			    font-size:14px;
			    font-weight:600;
			    border-radius: 50%;
			    background: $darkpink;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    padding: 10px;
			    color:$white;
			    }
			    svg{
			    	width: 15px;
				    height: 20px;
				    fill: #454545;
				    vertical-align: middle;
				    transition: .25s;
			    }
			    a{
			    	&:hover{
				    	svg{
                          fill:$darkpink;
				    	}
			        }
			    }
			}
	    }
	}
   &.MobileOnly{
   	&.stickyHeader{
   		border-bottom:1px solid #e1e1e1;
   		.mobile_top_nav{
   			display: none;
   		}
   		.MobileMenu{
   			padding:2px 15px;
   		}
   	}
   }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 2);
    transform: translate3d(0, 0, 2);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}



/*On off swtich for theme change*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin:0 6px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  top:50%;
  transform:translateY(-50%);
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}

/*input:focus + .slider {
  box-shadow: 0 0 1px #0b2b6b;
}*/

input:checked + .slider:before {
  -webkit-transform: translateY(-50%) translateX(20px);
  -ms-transform: translateY(-50%) translateX(20px);
  transform: translateY(-50%) translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*popup CSS*/
.popup_wrapper{
	.popup_inner{
		background-color:$white;
		padding:5rem 4.5rem;
		font-family:$secondaryFont;
		position:fixed;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		max-width:665px;
		width:100%;
		margin:0 auto;
		z-index:999;
		text-align: center;
		@media(max-width: 575px){
			width:90%;
			padding:4rem 2rem;
		}
		h2{
			margin:2rem 0;
		}
		p{
			color:$darkgrey;
			margin-bottom: 3rem;
			opacity: 0.8;
			line-height: 1.6;
			&:last-of-type{
				font-size:1.4rem;
				max-width: 400px;
				margin:0 auto;
				a{
					text-decoration: underline;
					color:$darkgrey;
					&:hover{
						color:$black;
					}
				}
			}
		}
		.SocialSignIn{
			margin-bottom:4.8rem;
			a{
				display: block;
				color:$base;
				font-size:16px;
				padding:1.8rem;
				max-width:350px;
				margin:0 auto;
				background-color: $offwhite;
				margin-bottom: 1.5rem;
				transition: 0.3s;
				line-height: 1.6;
				img{
					margin-right:1.5rem;
				}
				&:hover{
					background-color: $lightgrey;
				}
			}
			@media(max-width:575px){
				margin-bottom:3rem;
				a{
					font-size:14px;
					padding:1.5rem;
			   }
			}
		}
		.mfp-close{
			color:$darkpink;
			font-size:36px;
			&:hover{
				color:$base;
			}
		}
		&.profile_status{
			padding:4.5rem 4.8rem;
			.innerContent{
			    text-align: left;
				display: flex;
				flex-wrap:wrap;
				align-items: center;
				justify-content: space-between;
				@media(max-width: 575px){
				  flex-direction: column;
				  justify-content: center;
				  text-align: center;
			    }
			    .visitProfile{
					h2{
						margin-top:0;
						margin-bottom: 3rem;
					}
					@media(max-width: 575px){
			    		order:2;
			    		margin-top:2rem;
			    		h2{
			    			font-size:2.4rem;
			    		}
			    	}
				}
				.profile_progress{
					width:175px;
					height:175px;
					border-radius: 50%;
				   background-color: $darkblue;
				   display: flex;
				   flex-direction: column;
				   align-items: center;
				   justify-content: center;
				   padding:2rem;
				   .percentage{
				   	color:$white;
				   	font-size:3.6rem;
				   	margin-top: 5px;
				   }
				}
			}
		}
	}
}

.popup_wrapper{
	.searchBarWrap{
		font-family:$secondaryFont;
		position:fixed;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
		max-width:1000px;
		width:100%;
		margin:0 auto;
		z-index:999;
		text-align: center;
		padding:0 15px;
		form{
			display: flex;
			justify-content: space-between;
			align-items: center;
				input[type="search"]{
				box-shadow:none;
				outline:none;
				border:1px solid $white;
				width:100%;
				padding: 23px 23px 23px 45px;
				transition: 0.3s;
				background:$white url('../img/search.svg') no-repeat 20px center;
				@media(max-width: 767px){
					padding: 15px 15px 15px 45px;
					font-size:14px;
				}
			   }
			   svg{
			   	width: 20px;
			    height: 20px;
			    position: absolute;
			    left: 15px;
			    top: 50%;
			    transform: translateY(-50%);
			   }
			
			input[type="submit"]{
				margin:0;
				padding:23px 25px;
				border:1px solid $orange;
				background-color: $orange;
				@media(max-width: 767px){
					padding:15px 15px;
					font-size:14px;
				}
			} 
		}
	}
	&#searchBar{
		.mfp-close{
			display: none;
		}
	}
}