.templateWrapper{
	padding-bottom:0;
	/*Start Global CSS*/
	font-family: $secondaryFont;
	.templateRow{
		display: flex;
		flex-wrap:wrap;
		margin:0 -15px;
		margin-bottom: 15px;
		.head{
			flex:0 0 100%;
			max-width:100%;
			font-size:18px;
			font-weight: 500;
			padding:0 15px;
			@media(min-width:768px){
				flex:0 0 10%;
				max-width:10%;	
		    }
		}
		.content{
			flex:0 0 100%;
			max-width:100%;
			font-size:18px;
			font-weight: 500;
			padding:0 15px;
			@media(min-width:768px){
				flex:0 0 90%;
			    max-width:90%;	
		    }
		}
	}
	/*End Global CSS*/

	.headingType{
		h1,h2,h3,h4,h5,h6{
			font-family: $primaryFont;
			font-weight: 400;
			font-family: $base;
		}
		h1{
			font-size:36px;
			line-height: 50px;
		}
		h2{
			font-size: 24px;
			line-height: 34px;
		}
		h3{
			font-size: 18px;
			line-height: 34px;
			font-family: $secondaryFont;
			&.light_weight{
				color:#2C2C2C;
				opacity: 0.6;
			}
		}
		h4{
			font-size: 16px;
			line-height: 34px;
			font-family: $secondaryFont;
		}
		h5{
			font-size: 12px;
			line-height: 22px;
			font-family: $secondaryFont;
		}


		ul{
			li{
				display: flex;
				flex-wrap:wrap;
				margin:0 -15px;
				margin-bottom: 12px;
				padding:0 15px;
				.head{
					padding:0 15px;
					@media(min-width:768px){
					flex:0 0 10%;
					max-width:10%;
				   }
				}
				.content{
					padding:0 15px;
					@media(min-width:768px){
					flex:0 0 90%;
					max-width:90%;
				    } 
				}
			}
		}
	}
	.listType{
		li{
			list-style: none;
			position: relative;
			padding-left:20px;
			font-weight: 500;
			margin-bottom: 15px;
			&::before{
				content:'';
				position: absolute;
				left:0;
				top:3px;
				width:10px;
				height: 10px;
				background-color: $orange;
			}
		}
	}

	.buttonsType{
       .content{
       	display: flex;
       	@media(max-width: 767px){
       		display:block;
       	}
       	h3{
       		font-family: $secondaryFont;
       	}
       	a{
       		display: inline-block;
       		margin-right:20px;
       		font-size:16px;
       		color:$base;
       		letter-spacing: 0.8px;
       		font-weight: 400;
       		width:175px;
       		padding:10px 15px;
       		text-align: center;
       		text-transform: capitalize;
       	}
       	.primary{
       		@media(max-width: 767px){
       			margin:2rem 0;
       		}
       		a{
       			font-weight:600;
       			font-size:14px;
       			color:$white;
       			text-transform: uppercase;
       		}
       	}
       	.secondary{
       	   a{
       	   	background-color: transparent;
       	   	color:$base !important;
       	   	border:1px solid $base;
       	   }
       	}
       }
	}

	.inputsType{
		form{
			display: flex;
			.form-group{
				width:40%;
				margin-right:20px;
				label{
					margin-top:0;
				}
			}
		}
	}

	.pagination_wrapper{
		.templateRow{
			.content{
				display: flex;
				align-items: center;
				@media(max-width: 767px){
						display: block;
					}
				.pagination{
					padding:0;
					ul{
						justify-content: flex-start;
					}
				}
				.slider-arrows{
					display: flex;
					align-items: center;
					@media(max-width: 767px){
						display: block;
						margin-top:2rem;
					}
					
					@media(min-width: 768px){
						margin-left:100px;
					}
					button{
						width:45px;
						height:45px;
						cursor: pointer;
						transition: .3s;
						border:none;
						&.arrow-prev{
							background: #ef5214 url(../img/leftarw.svg) no-repeat 50%;
						}
						&.arrow-next{
							background: $darkpink url(../img/rightarw.svg) no-repeat 50%;
						}
					}
					h3{
						font-family: $secondaryFont;
						padding: 0 15px;
					    font-weight: 500;
					    font-size: 18px
					}
				}
	        }
	    }
	}
	.threeComponentArticles{
		padding-bottom: 0;
		@media(min-width: 992px){
			width:80%;
		}
		article{
			font-family:$secondaryFont;
			background-color:transparent;
			h3{
             line-height: 1.2;
             margin-bottom: .5rem;
            font-size:2.4rem;
             @media(min-width: 768px){
            	font-size:3.6rem;
             }
			}
			p{
              color: rgba(45,44,45,0.6);
              line-height: 1.5;
              margin-bottom: 2rem;
			}
	    }
	    .component5{
          article{
          	display: flex;
          	flex-direction:row;
          	>div{
          		padding:0 10px;
          		flex:0 0 50%;
          		max-width: 50%;
          	}
          	@media(max-width:767px){
          		flex-direction:column;
          		>div{
          			flex:0 0 100%;
          			max-width: 100%;
          		}
          	}
          }
	    }
	    .SmallRightLeftContent{
			&.BorderBox{
				padding: 1.5rem;
				border: thin solid #ccc;
			}
			.ImageBox{
				img{
					width: 100%;
				}
			}
			.ContentBox{
				margin-top: 1.5rem;
				@media(min-width: 768px){
					margin-top: 0;
				}
				h5{
					font-size:1.6rem;
					color: $base;
					font-weight: 600;
					margin-bottom: 1.5rem;
					line-height:1.5;
				}
				p{
					line-height:1.8;
					margin-bottom:2rem;
				}
				a{
					color: rgba($darkgrey, 0.5);
					font-family: $secondaryFont;
				}
			}
		}
	}

	
	.ImageMatchupHeight{
		@media(min-width:992px){
			width:80%;
		}
		
		.BigCenterImage{
			margin: 0 auto;
			display: block;
			>img{
				height:537px;
				object-fit:cover;
			}
		}
	}
	.SingleArticleVideo{
		padding-bottom:0;
		.BigCenterImage{
			position: relative;
			&:before{
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba($base, 0.5);
				top: 0;
				bottom: 0;
			}
			img{
				width: 100%;
			}
			.YoutubeLink{
				position: absolute;
				top: 30%;
				left: 38%;
				@media(min-width: 400px){
					top: 32%;
					left: 40%;
				}
				@media(min-width: 768px){
					top: 40%;
					left: 45%;
				}
			}
		}
	}

	.FullWidthBlock{
		position: relative;
		width: 100%;
		z-index: 9;
		background-color: $white;
			.slider__counter{
				position: absolute;
				left: 48%;
			    bottom: 0;
			    font-size: 16px;
			    font-family: $secondaryFont;
			    font-weight: 600;
			    right: unset;
			}
		.SingleArticleGallery{
			padding-left: 0;
			position: relative;
			.slick-slide {
			    margin: 0 10px;
			}
			.slick-list {
			    margin: 0 -10px;
			}
			button.slick-next, button.slick-next:hover {
	            position: relative;
	            top: unset;
	            bottom: 0;
	            left: 50%;
	            transform:translateX(-50%);
	            width: 35px;
	            height: 30px;
	            background: url("../img/solidarwright.svg") no-repeat;
	            background-size: 80%;
	            background-position: center;
	            z-index: 1;
	            margin-left:80px;
	            &::before{
	            	content:'';
	            }
	        }
	        button.slick-prev, button.slick-prev:hover {
	            position: absolute;
	            top: unset;
	            bottom:0;
	            left: 42%;
	            transform:translateX(-50%);
	            z-index: 1;
	            width: 35px;
	            height: 30px;
	            background: url("../img/solidarwleft.svg") no-repeat;
	            background-size: 80%;
	            background-position: center;
	            z-index: 1;
	            margin-right:20px;
	            &::before{
	            	content:'';
	            }
	        }
		}

	}
}