 article {
  background-color: $offwhite;
  height: 100%;
  color:$base;
  font-family: $secondaryFont;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .imgWrap {
    overflow:hidden;
    img {
      width: 100%;
      transition: 0.3s ease;
    }
  }
  
  .headContent {
    padding:2.4rem;
    padding-bottom: 0;
    margin-bottom: 2rem;
    flex:auto;
    @media(min-width:768px) and (max-width: 991px){
        padding:1.5rem;
    }
    .category {
      margin-bottom: 1rem;
      font-size: 12px;
/*      text-transform: uppercase;*/
      display: flex;
      align-items: center;
      justify-content: space-between;
      >ul {
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      li {
        font-size: 12px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          svg{
            width:15px;
            height:15px;
            fill:#999;
            vertical-align: middle;
            transition: 0.25s ease;
          }
          &:hover{
            svg{
              fill:$base;
            }
          }
        }
        &.toggleMark{
          a{
            svg{
              fill:$darkpink;
            }
          }
        }
        &.shareArticle{
          position: relative;
            &.active{
            a{
              svg{
                fill:$base;
              }
            }
          }
          .socialShare{
            position:absolute;
            left:50%;
            padding:7px 10px;
            top:-50px;
            width:170px;
            background-color:#e3e3e3;
            border-radius:4px;
            transform: translateX(-50%) rotateX(90deg);
            transform-origin: bottom;
            opacity: 0;
            transition: all .3s ease-out;
            z-index: 1;
            &::before{
              content: "";
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 8px solid #e3e3e3;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -7px;
            }
            ul{
              display: flex;
              align-items: center;
              justify-content: space-between;

              li{
                a{
                  width: 25px;
                  height: 25px;
                  @include FlexCenter;
                  border-radius: 50%;
                  border:1px solid rgba($base,0.6);
                  &:hover{
                    border-color:$base;
                  }
                }
                &::after{
                  display: none;
                }
              }
            }
            &.show{
             opacity: 1;
            transform: translateX(-50%) rotateX(0deg);
            transform-origin: bottom;
            }
            @media(max-width: 575px){
            right:-15px;
            left:initial;
            transform: translateX(0) rotateX(90deg);
            &.show{
              transform: translateX(0) rotateX(0deg);
            }
            &:before{
              right:5px;
              left:initial;
            }
           }
          }
        }
        .threeDot{
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          transition: 0.25s;
          border-radius: 50%;
          span{
            display: inline-block;
            width:4px;
            height:4px;
            background-color:#999;
            border-radius: 50%;
            margin-right: 2px;
            transition: 0.25s;
            &:last-child{
              margin-right:0;
            }
          }
          &:hover,&.active{
            span{
            background-color:$base;
            }
          }
          .dropdownElement{
            background-color:$white;
            position: absolute;
            left:50%;
            bottom:35px;
            width:155px;
            z-index:1;
            padding:5px 0;
            transform: translateX(-50%) rotateX(90deg);
            transform-origin: bottom;
            opacity: 0;
            transition: all .3s ease-out;
            border:1px solid #f5f5f5;
            box-shadow: 2px 2px 4px lightgrey;
            &.show{
            opacity: 1;
            transform: translateX(-50%) rotateX(0deg);
            transform-origin: bottom;
            }
            &:before{
              content: "";
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 8px solid $white;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -7px;
           }
           @media(max-width: 767px){
            right:-15px;
            left:initial;
            transform: translateX(0) rotateX(90deg);
            &.show{
              transform: translateX(0) rotateX(0deg);
            }
            &:before{
              right:15px;
              left:initial;
            }
           }
            ul{
              li{
                a{
                line-height: 1.4;
                font-size:1.2rem;
                color:rgba($black,0.7);
                text-decoration: none;
                transition: 0.25s;
                display: block;
                padding:5px 10px;
                &:hover{
                  color:$black;
                }
                }
              }
            }
          }
        }
      }
    }
    }
    h3{
      font-size:2.4rem;
      transition:0.3s;
      @media(max-width:991px){
        font-size:2rem;
      }
    }
  }

  &:hover{
    .imgWrap{
      img{
        transform: scale(1.05);
      }
    }
    .headContent{
      h3{
        color:$darkpink;
      }
    }
  }
    
  .authorDetails {
    padding: 2.4rem;
    padding-top:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 991px) and (min-width: 768px){
      padding:1.5rem;
    }
    >ul {
      display: flex;
      align-items: center;
      li {
        font-size: 12px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        margin-right: 10px;
        &:first-child{
          position: relative;
          padding-right: 12px;
          margin-right: 0;
          &::after {
            content: '';
            position: absolute;
            top: 47%;
            right: 4px;
            width: 3px;
            height: 3px;
            background-color: $base;
            border-radius: 50%;
            opacity: 0.8;
          }
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          svg{
            width:15px;
            height:15px;
            fill:#999;
            vertical-align: middle;
            transition: 0.25s ease;
          }
          &:hover{
            svg{
            fill:$base;
            }
          }
        }
        &.toggleMark{
          a{
            svg{
              fill:$darkpink;
            }
          }
        }
        &.shareArticle{
          position: relative;
            &.active{
            a{
              svg{
                fill:$base;
              }
            }
          }
          .socialShare{
            position:absolute;
            left:50%;
            padding:7px 10px;
            top:-50px;
            width:170px;
            background-color:#e3e3e3;
            border-radius:4px;
            transform: translateX(-50%) rotateX(90deg);
            transform-origin: bottom;
            opacity: 0;
            transition: all .3s ease-out;
            z-index: 1;
            &::before{
              content: "";
              width: 0;
              height: 0;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              border-top: 8px solid #e3e3e3;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -7px;
            }
            ul{
              display: flex;
              align-items: center;
              justify-content: space-around;

              li{
                a{
                  width: 25px;
                  height: 25px;
                  @include FlexCenter;
                  border-radius: 50%;
                  border:1px solid rgba($base,0.6);
                  &:hover{
                    border-color:$base;
                  }
                }
                &::after{
                  display: none;
                }
              }
            }
            &.show{
             opacity: 1;
            transform: translateX(-50%) rotateX(0deg);
            transform-origin: bottom;
            }
            @media(max-width: 575px){
            right:-15px;
            left:initial;
            transform: translateX(0) rotateX(90deg);
            &.show{
              transform: translateX(0) rotateX(0deg);
            }
            &:before{
              right:5px;
              left:initial;
            }
           }
          }
        }
      }
    }

    .threeDot{
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.25s;
      border-radius: 50%;
      span{
        display: inline-block;
        width:4px;
        height:4px;
        background-color:#999;
        border-radius: 50%;
        margin-right: 2px;
        transition: 0.25s;
        &:last-child{
          margin-right:0;
        }
      }
      &:hover,&.active{
        span{
        background-color:$base;
        }
      }
      .dropdownElement{
        background-color:$white;
        position: absolute;
        left:50%;
        bottom:35px;
        width:155px;
        z-index:1;
        padding:5px 0;
        transform: translateX(-50%) rotateX(90deg);
        transform-origin: bottom;
        opacity: 0;
        transition: all .3s ease-out;
        border:1px solid #f5f5f5;
        box-shadow: 2px 2px 4px lightgrey;
        &.show{
        opacity: 1;
        transform: translateX(-50%) rotateX(0deg);
        transform-origin: bottom;
        }
        &:before{
          content: "";
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 8px solid $white;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: -7px;
       }
       @media(max-width: 767px){
        right:-15px;
        left:initial;
        transform: translateX(0) rotateX(90deg);
        &.show{
          transform: translateX(0) rotateX(0deg);
        }
        &:before{
          right:15px;
          left:initial;
        }
       }
        ul{
          li{
            a{
            line-height: 1.4;
            font-size:1.2rem;
            color:rgba($black,0.7);
            text-decoration: none;
            transition: 0.25s;
            display: block;
            padding:5px 10px;
            &:hover{
              color:$black;
            }
            }
          }
        }
      }
    }
  }
  &.vertical{
    .authorDetails{
      ul{
        li{
          font-size:11px;
          margin-right:0;
        }
      }
    }
  }
  &.two_way_article{
    flex-direction: row;
    flex-wrap:wrap;
    height: auto;
    >a{
      width:100%;
      @media(min-width: 576px){
      flex:0 0 50%;
      max-width: 50%;
     }
      img{
        height: 100%;
      }
    }
     .contentWrap{
    @media(min-width: 576px){
      flex:0 0 50%;
      max-width: 50%;
     }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  }
}