.BlackBtn{
	color: $white;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	font-family: $secondaryFont;
	background-color: $black;
	padding: 1rem 2rem;
	font-weight: 600;
	letter-spacing: 1.4px;
	transition: 0.3s all;
	&:hover{
		background-color: $offblack;
	}
}

.PinkBtn{
	color: $white !important;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: $secondaryFont;
	background-color: $darkpink;
	padding: 1rem 4rem;
	font-weight: 600;
	letter-spacing: 1.4px;
	display: inline-block;
	transition: 0.3s all;
	&:hover{
		background-color: $orange;
	}
}