.ContactUsPage{
	position: relative;
	&:before{
	    content:'';
	    background-color:#f5f5f5;
	    position: absolute;
	    top:0;
	    left:0;
	    height:60%;
	    width:100%;
	    z-index:-1;
	  }
	.TopHeading{
		h2{
			margin-bottom:1.3rem;
		}
		margin-bottom:4rem;
	}
	.ContactDetails{
		padding-bottom:4.5rem;
		.col-md-6{
			&:nth-child(2){
				.Details{
					.IconBox{
						background-color: $darkpink;
					}					
				}
			}
			&:nth-child(3){
				.Details{
					.IconBox{
						background-color: $orange;
					}					
				}
			}
			&:nth-child(4){
				.Details{
					.IconBox{
						background-color: $base;
					}					
				}
			}
		}
		.Details{
			margin-top: 2rem;
			display: flex;
			.IconBox{
				display: flex;
				align-items: center;
				justify-content: center;
				width:50px;
				height: 50px;
				background-color: $blue;
				padding: 0.75rem;
				margin-right: 1.8rem;
			}
			
			p{
				line-height: 1.5;
				margin-bottom: 0.5rem;
				a{
					text-decoration: none;
					color: $darkpink;
					font-weight: 600;
					display: block;
				}
			}
		}
	}
	.whiteBoxForm{
		form{
			.row{
				>div{
					&:last-child{
						margin-bottom:0;
					}
				}
			}
		}
	}
	&.SubmitQuote{
		&:before{
		    background-color:$darkpink;
		    height:50%;
	    }
		.TopHeading{
          h2{
          	color:$white;
          }
          p{
          	color:$white;
          }
		}
	}
}