.themeChanger{
	background-color: $nightBlack;
	color:$white;
	transition: 0.4s;
	h1,h2,h3,h4,h5,p{
     color:$white;
	}
	a{
		color:$white;
	}
	header{
		background-color: $nightBlack;
		.NavigationBlock{
			.TopMenu{
				ul{
					li{
						a{
							color:$white;
						}
						svg{
							fill:$white;
						}
						img{
							filter: invert(1);
						}
					}
				}
			} 
			.MainMenu{
				ul{
					li{
						a{
							color:$white;
						}
					}
				}
			} 
		}
		.HeaderLogo{
			a{
				&:first-child{
					display:none;
				}
				&:last-child{
				display: block;
			    }
			}
		}
		&.stickyHeader{
			border:none;
			background-color: $black;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16);
			.HeaderLogo{
				a{
					&:last-child{
					display: none;
				    }
				}
			}
		}
		.mobile_top_nav{
			border-color:rgba($white,0.4);
			ul{
				li{
					svg{
					fill:$white;
				    }
				    img{
				    	filter:invert(1);
				    }
				}
			}
		}
	}
	article{
		background-color:$black;
		color:$white;
		svg{
			fill:$white;
		}
		.authorDetails{
			ul{
				li{
					&.shareArticle{
						.socialShare{
							background-color:$nightBlack;
							ul{
								li{
									a{
										border-color:$white;
										img{
											filter:invert(1);
										}
									}
								}
							}
							&::after{
								border-top: 8px solid $nightBlack;
							}
						}
					}
				}
			}
			.threeDot{
				.dropdownElement{
					background-color:$base;
					box-shadow: none;
					&:before{
						border-top: 8px solid $base;
					}
					ul{
						li{
							a{
								color:$white;
							}
						}
					}
				}
				&:hover{
					background-color:$base;
				}
			}
			>ul{
				li{
					&.shareArticle{
						.socialShare{
							background-color: $base;
							&:before{
								border-top: 8px solid $base;
							}
						}
					}
				}
			}
		}
	}
	.TopHeading{
		h2{
			color:$white !important;
		}
		a{
			color:$white;
			&:hover{
				color:$white;
			}
		}
	}
	.ContriSection{
		background-color:$black;
		border-color:#999;
		.ArticleBox{
			background-color: $nightBlack;
			color:$white;
			h4{
				color:$white;
				span{
					color:$white;
				}
			}
			p{
				color:$white;
			}
		}
	}
	.ExploreStories{
		.storyLinkWrapper{
			.StoryLink{
				background-color:$black;
				color:$white;
				h2{
					color:$white;
				}
				p{
					color:$white;
				}
				ul{
					li{
						a{
							background-color:$nightBlack;
							color:$white;
						}
					}
				}
			}
		}
		.Sponsorship{
			.Headingbox{
				h3,a{
					color:$white;
				}
				img{
					filter: invert(1);
				}
			}
		}
	}
	.FollowUs{
      background-color:$black;
      color:$white;
      .Wrapper{
      	.HeadingBox{
      		h5{
      			color:$white;
      		}
      	}
      }
	}
	.TestimonialsBlock{
		.StaticContent{
			p{
				color:$white;
			}
		}
		.testinomials{
			background-color:$black;
			color:$white;
			.testimonialsSlider{
				.Author{
					color:$white;
				}
			}
		}
	}

	.LatestArticle{
		z-index:0;
		&::before{
			background-color:$black;
		}
		.TopHeading{
			span{
				color:$white;
			}
		}
		.Wrapper{
			.advertSpace{
				background-color:$black;
			}
		}
	}

	.LeftContentRightAdvert{
		.Sponsorship{
				.Headingbox{
					img{
						filter:invert(1);
					}
				}
			} 
		} 

	.innerPageSlider{
		.wrapper{
			.singleSlide{
				.innerWrap{
					background-color: $base;
				}
			}
		}
	}
	
	.LeftRightSticky{
		z-index: 0;
		&::before{
			background-color:$black;
		}
		.SingleArticle{
			.CenterFixedBox{
				h4,h5{
					color:$white;
				}
				.AuthorDetails{
					.Author{
						p{
							color:$white;
						}
						ul{
							li{
								span{
									color:$white;
								}
							}
						}
						a{
							/*img{
								filter: invert(1);
							}*/
						}
					}
					.AuthorSocial{
						.SocialBlock{
							ul{
								li{
									a{
										border-color:$white;
										img{
											filter: invert(1);
										}
									}
								 &::after{
								 	background-color: $white;
								 }	
								}
							}
						}
					}
				}
				.MatchUpHeight{
					.FullWidthBlock{
						background-color: $black;
					}
				}
				.ImageMatchupHeight{
					.FullWidthBlock{
						background-color: $black;
					}
				}
			}
			.LeftStickyBox{
				.SocialBlock{
					ul{
						li{
							a{
								border-color:$white;
								img{
									filter:invert(1);
								}
							}
						}
					}
					
				}
			}
			.RightStickyBox{
				.AdsBox{
					a{
						span{
						background-color: $black;
						border:1px solid $white;
					    }
					}
				}
			}
			.CommentsBox{
				.AuthorDetails{
					.Author{
						.reply{
							color:$white;
							border-color:$white;
						}
					}
				}
			}
			.CommentForm {
				form{
					label{
						color:rgba($white,0.8);
					}
					input[type="text"],input[type="email"],select,textarea{
					background-color:$black;
					color:$white;
					border-color:rgba($white,0.6);
					}
					input[type="submit"]{
						border-color: rgba($white,0.6);
					}

				}
			}
		}
		p{
			color:$white;
			span{
				color:$white !important;
			}
		}
	}

	.FullWidthBlock{
		background-color: $black;
	}
	.orangeBullets{
		ul{
			li{
				color:$white;
			}
		}
	}
	.popup_wrapper{
		.popup_inner{
            background-color: $nightBlack;
            color:$white;
            .mfp-close{
            	color:white;
            	&:hover{
            		color:$white;
            		opacity: 1;
            	}
            }
            p{
            	color:$white;
            	a{
            		color:$white;
            	}
            }
		}
		.searchBarWrap{
			form{
			  input[type="search"]{
			  	background-color: $black;
			  	color:$white;
			  	border-color:rgba($white,0.7);
			  }
			  svg{
			  	fill:rgba($white,0.7);
			  }
			}
		}
	}

	.MyProfile{
		background-color: $nightBlack;
		.sideNavbar{
			h2{
				color:$white;
			}
			ul{
				li{
					svg{
						fill:$white;
					}
				}
			}
		}
		.contentWrap{
			.innerWrap{
				background-color: $black;
				.list{
					ul{
						li{
							.authorDetails{
								span{
								color:$white !important;
							 }
							}
							.remove{
								a{
									color:$white;
									svg{
										fill:$white;
									}
							    }
							}
							&.twoWaylist{
								.leftSide{
									.innerLeft{
										.category{
											color:$white;
										}
									}
								}
								.rightSide{
									span{
										color:$white;
									}
								}
							}
							.leftSide{
								a{
									h4{
										color:rgba($white,0.9);
									}
									&:hover{
										h4{
											color:$white;
										}
									}
								}
							}
							>a{
								.leftSide{
									h4{
										color:rgba($white,0.9);
									}
								}
								&:hover{
									.leftSide{
										h4{
											color:$white;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.whiteBoxForm{
		background-color: $black;
		color:$white;
		border-color:rgba($white,0.6);
		form{
			input[type="text"],input[type="email"],select,textarea{
				background-color:$black;
				color:$white;
				border-color:rgba($white,0.6);
			}
			input[type="submit"]{
				border-color: rgba($white,0.6);
			}
		}
	}

	form{
		color:$white;
		label{
			color:$white;
		}
		input,select,textarea{
			color:$white;
		}
	}


	.LeftContentRightImage{
		background-color:$black;
		.Wrapper{
			.LeftRightBox{
				h4{
					color:$white;
				}
			}
		}
	}
	.TrendsBlogCards{
		z-index:0;
		&::before{
			background-color:$black;
		}
	}

	.HeadingWithListPoints{
		.ContentWithHeading{
			background-color: $nightBlack;
			ul{
				li{
					color:$white;
				}
			}
			&.BorderBox{
				background-color: $black;
			}
		}
		.whiteBoxForm{
			padding:25px;
			margin-bottom:3rem;
			@media(min-width:768px){
				margin-bottom: 6rem;
			}
			form{
				input[type="text"],input[type="email"],select,textarea{
					background-color:$black;
					color:$white;
				}
				.UploadFile{
					background-color: $black;
					span{
						color:$white;
					}
				}
				.Note{
					p{
						a{
							color:#ccc;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.ListiclePage{
		.SingleArticle{
			.CenterFixedBox{
				.TopImageBtmContentPost{
					background-color: $black;
					.TopImage{
						p{
							color:$white;
							a{
								text-decoration: underline;
							}
						}
					}
				}
				.TopImageBtmCommentBox{
					background-color: $black;
					.CommentReply{
						.CommentBox{
							background-color: $nightBlack;
							h5{
								color:$white;
							}
							form{
								select,label{
									color:$white;
								}
								input[type="text"]{
									background-color: $black !important;
									color:$white;
								}
							}
						}
					}
				}
			}
		}
	}
	.pagination{
		ul{
			li{
				&.leftBtn,&.rightBtn{
				background-color:$black;
			    }
			}
		}
	} 
	.ContactUsPage{
		z-index:0;
		&::before{
		    background-color: $black;
		}
	}
	.HeadingWithListPoints{
		z-index: 0;
		&:before{
			background-color:$black;
		}
	}

	.templateWrapper{
		.headingType{
          h3{
          	color:$white;
          }
		} 
		.threeComponentArticles{
			article{
				p{
					color:$white;
				}
			}
		}
		input[type="text"],input[type="email"]{
          color:$white;
          background-color: $black;
          border-color:$black;
		}
		.buttonsType{
			.content{
				.secondary{
					a{
						color:$white !important;
						border-color:$white;
					}
				}
			}
		}
	} 

	footer{
		background-color: $black;
	}
}