.ExploreStories{
	.Wrapper{
		display: flex;
		flex-wrap:wrap;
		position: relative;
		margin:0 -15px;
		.storyLinkWrapper{
			padding:0 15px;
			@media (min-width: 768px){
				flex:0 0 70%;
				max-width:70%;
			}
			.StoryLink{
				background-color: $offwhite;
				padding: 2.4rem 2.7rem;
			    height:100%;
				
				h2{
					color: $darkgrey;
					@media (max-width: 991px) and (min-width: 768px){
						font-size:2.4rem;
					}
					@media(max-width: 575px){
						font-size:2.4rem;
					}
				}
				p{
					color: $base;
				}
				ul{
					display: flex;
					flex-wrap: wrap;
					li{
						margin-right: 1rem;
						margin-top: 1rem;
						@media (min-width: 768px){
							margin-right: 1.5rem;
							margin-top: 1.5rem;
						}
						a{
							text-decoration: none;
							display: block;
							background-color: $white;
							border: thin solid #cccccc;
							padding: 0.75rem 1rem;
							color: #2d2c2d;
							font-size: 12px;
							font-family: $secondaryFont;
							font-weight: 500;
							transition: 0.3s all;
							@media (min-width: 768px){
								font-size: 16px;
								padding: 0.75rem 1.2rem;
								font-weight: 400;
							}
							&:hover{
								background-color: $darkpink;
								color: $white;
							}
						}
					}
					@media(max-width: 575px){
						align-items:center;
						li{
							flex:0 0 45%;
							max-width:45%;
						}
					}
				}
			}
	    }
		.Sponsorship{
			padding:0 15px;
			margin:0 auto;
			margin-top:2rem;
			@media (min-width: 768px){
				flex:0 0 30%;
				max-width:30%;
				margin:0;
			}
			.Headingbox{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1.5rem;
				h3{
					color: $base;
					margin-bottom: 0;
				}
			}
			.AdBox{
				
				img{
					width: 100%;
					/*height: 100%;*/
				}
			}
		}
	}
	&.fullWidth{
		.Wrapper{
			.storyLinkWrapper{
				flex:0 0 100%;
				max-width: 100%;
			}
		}
	}
}
