.FollowUs{
	background-color: $offwhite;
	.Wrapper{
		.HeadingBox{
			display: flex;
			flex-direction: column;
			@media(min-width: 768px){
				align-items: center;
				flex-direction: inherit;
				justify-content: space-around;
			}
			h2{
				color: $darkgrey;
				margin-right: 0;
				margin-bottom: 1rem;
				@media(min-width: 768px){
					margin-bottom: 0;
				}
			}
			h5{
				color: $darkgrey;
				font-size: 2.4rem;
				margin-bottom: 7px;
				span{
					font-size: 14px;
					font-family: $secondaryFont;
					color: #666;
					@media(min-width: 768px){
						font-size: 16px;
					}
				}
			}
			p{
				color:#666;
				line-height: 25px;
			}
		}
		ul{
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			@media(min-width: 768px){
				margin: 0;
			}
			li{
				margin: 1.5rem 0 0;
				display: flex;
				align-items: center;
				text-align: center;
				margin-left: 0rem;
				margin-right: 1.2rem;
				
				a{
					padding: 1rem 1.5rem;
					text-decoration: none;
					color: $white;
					font-family: $secondaryFont;
					font-size: 10px;
					background-color: $facebook;
					min-width: 70px;
					transition: 0.3s all;
					@media(min-width: 768px){
						min-width: 140px;
						font-size: 12px;
					}
					&:hover{
						background-color: $orange;
					}
					img{
						height: 15px;
						margin-bottom: 5px;
					}
				}
				&:nth-child(2){
					a{
						background-color: $twitter;
						transition: 0.3s all;
						&:hover{
							background-color: $orange;
						}
					}
				}
				&:nth-child(3){
					a{
						background-color: $insta;
						transition: 0.3s all;
						&:hover{
							background-color: $orange;
						}
					}
				}
				&:nth-child(4){
					a{
						background-color: $linkedin;
						transition: 0.3s all;
						&:hover{
							background-color: $orange;
						}
					}
				}
				&:last-child{
					margin-right:0;
				}
				@media(max-width: 480px){
					margin-right:1rem;
					a{
						min-width: auto;
					}
				}
			}
		}
	}
}