.HeadingWithListPoints{
   position:relative;
	&:before{
		content:'';
		background-color:#f5f5f5;
		position: absolute;
		top:0;
		left:0;
		height:190px;
		width:100%;
		z-index:-1;
	}
	.ContentWithHeading{
		width: 100%;
		
		&.BorderBox{
			padding: 1.5rem;
			background-color: $white;
			border: thin solid $lightgrey;
			@media(min-width: 768px){
				padding: 4.4rem 5rem;
			}

		}
		p{
			line-height: 1.5;
			margin-bottom: 2.5rem;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				&:first-child{
					margin-top: 0;
				}
				font-size: 16px;
				color: $base;
				font-family: $secondaryFont;
				padding-left: 2.5rem;
				margin-top: 1.5rem;
				position: relative;
				&:before{
					content: '';
					position: absolute;
					width: 10px;
					height: 10px;
					background-color: $orange;
					left: 0;
					top: 4px;
				}
			}
		}
	}
	.GuidelineQuotationForm{
		padding-bottom: 6rem;
		/*.FormBox{
		}*/
	}
	&.ContactForm{
		padding-bottom: 3rem;
		@media(min-width: 768px){
			padding-bottom: 6rem;
		}
	}
}

/*form{
	label{
		width: 100%;
		display: block;
		margin-bottom: 0.5rem;
		font-size: 15px;
		font-family: $secondaryFont;
		color: rgba($base, 0.5);
		margin-top: 1.5rem;
	}
	input[type="text"],input[type="email"],input[type="submit"],select,textarea{
		width: 100%;
		border: thin solid $lightgrey;
		background-color: $white;
		padding: 10px;
		font-family: $secondaryFont;
		color: $darkgrey;
		&:focus{
			outline: none;
		}
	}

	textarea{
		height: 114px;
	}
	input[type="submit"]{
		background-color: $darkpink;
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 1.5rem;
		cursor: pointer;
	}
	.Note{
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		height: 90%;
		p{
			margin-bottom: 0;
			span{
				font-weight: 600;
			}
			a{
				text-decoration: none;
				color: $base;
				font-weight: 600;
			}
		}
	}
	.UploadFile{
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px dashed $lightgrey;	
		padding: 2rem;
		flex-direction: column;
		background-color: $offwhite;
		label{
			width: auto;
			margin: 0;
			padding: 1rem 3rem;
			color: $white;
			background-color: $orange;
			font-weight: 600;
			cursor: pointer;
		}				
		input[type="file"]{
			display: none;
		}
		span{
			display: block;
			color: $grey;
			margin-top: 1rem;
			font-size: 14px;
			font-family: $secondaryFont;
		}
	}
}*/