.InstaFeed{
	text-align: center;
	padding-top: 0;
	.SocialIcons{
		margin-bottom: 4rem;
		ul{
			@include FlexCenter;
			li{
				margin-right:20px;
				a{
					svg{
						width:25px;
						height:26px;
						fill:$darkpink;
						transition: 0.3s;
					}
					&:hover{
						svg{
							transform: scale(1.05);
							fill:$orange;
						}
					}
				}
				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
	.row{
		max-width: 950px;
		width:100%;
		margin:0 auto;
		.MBottom3{
			padding:0 8px;
			margin-bottom: 16px;
			@media(max-width:767px){
				padding:0 8px;
			}
		}
    }
    .BtnWrap{
    	margin-top: 2rem;
    }
}