.LatestArticle {
  position: relative;
  padding-top:3rem;
  @media(min-width:768px){
    padding-top:5.6rem;
  }
  &:before{
    content:'';
    background-color:#f5f5f5;
    position: absolute;
    top:0;
    left:0;
    height:350px;
    width:100%;
    z-index:-1;
  }
  .TopHeading {
    margin-bottom: 3.7rem;
    color:$darkgrey;
    span {
      font-family: $secondaryFont;
      font-size: 12px;
      display: inline-block;
      margin-bottom: 0.9rem;
      opacity: 0.6;
    }
    h2 {
      margin-bottom: 0.8rem;
    }
    p {
      max-width: 900px;
      font-size: 16px;
      line-height: 25px;
    }
  }
  .Wrapper {
    position: relative;
    .advertSpace{
      width:100%;
      height:200px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:#f5f5f5;
      border:1px solid #ccc;
    }
  }
}