.LeftContentRightAdvert{
	.FollowUs{
		padding:3rem 1.5rem;
		@media(min-width: 768px){
			padding:4.2rem 4.8rem;
		}
		.Wrapper{
			.HeadingBox{
				flex-direction: column;
				align-items: inherit;
				h2{
					margin-right:0;
					margin-bottom:1rem;
				}
			}
			ul{
				margin-top:2rem;
			}
		}
	}
	.Sponsorship{
		max-width: 320px;
		margin:0 auto;
		.Headingbox{
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.AdBox{
			img{
				width: 100%;
			}
		}
	}
}