.LeftContentRightImage{
	.Wrapper{
		h1{
			color: rgba($grey, 0.75);
			margin-bottom: 2rem;
		}
		.LeftRightBox{
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			.LeftContent{
				flex-basis: 100%;
				padding-right: 0rem;
				padding-top: 3rem;
				@media(min-width: 768px){
					flex-basis: 55%;
					padding-top: 0;
					padding-right: 4rem;
				}
				h2{
					margin-bottom: 1rem;
				}
				h4{
					font-size: 2.2rem;
					color: $base;
					font-family: $secondaryFont;
					font-weight: 500;
					margin-bottom: 1.5rem;
				}
				p{
					line-height: 1.5;
					margin-bottom: 1.5rem;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.RightImage{
				flex-basis: 100%;
				@media(min-width: 768px){
					flex-basis: 45%;
				}
				img{
					height: auto;
					@media(min-width: 768px){
						height: 400px;
					}
				}
			}
		}
	}
	
}