.LeftRightSticky{
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 400px;
		background-color: $offwhite;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
		z-index: -1;
		@media(min-width: 768px){
			height: 550px;
		}
	}
	.SingleArticle{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
				
		.LeftStickyBox{
			flex-basis: 20%;
			.SocialShareArticle{
				z-index:999;
				.Author{
				    padding-bottom: 1rem;
				    a{
				    	display: block;
				    	text-align: center;
                        .imgWrap{
                        	img{
                        		width:70px;
                        		height:70px;
                        		border-radius: 50%;
                        	}
                        }
					    .authorInfo{
					    	font-family: $secondaryFont;
					    	margin-top:5px;
					    	p{
					    		margin:0;
					    	}
					    	span{
					    		color:#999;
					    		font-size:12px;
					    	}
					    }
				    }
				}
				.SocialBlock{
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 1.5rem 0 1.8rem;
					border-top: thin solid $lightgrey;
					border-bottom: thin solid $lightgrey;
					h4{
						margin-bottom: 1rem;
					}
					ul{
						li{
							a{
								border: thin solid rgba($base, 0.5);
							}
						}
					}
				}
			}
		}
		.CenterFixedBox{
			flex-basis: 100%;
			padding: 0px;
			@media(min-width: 768px){
				flex-basis: 60%;
				padding: 0 30px;
			}
			.MatchUpHeight{
				height: 290px;
				@media(min-width: 400px){
					height: 300px;
				}
				@media(min-width: 420px){
					height: 320px;
				}
				@media(min-width: 768px){
					height: 450px;
				}
				@media(min-width: 1600px){
					height: 490px;
					margin-bottom: 5rem;
				}
				.FullWidthBlock{
					height: 290px;
					@media(min-width: 420px){
						height: 320px;
					}
					@media(min-width: 768px){
						height: 400px;
					}
				}
			}
			.ImageMatchupHeight{
				height: 250px;
				margin-top: 3.5rem;
				margin-bottom: 3.5rem;
				@media(min-width: 400px){
					height: 298px;
				}
				@media(min-width: 768px){
					height: 659px;
				}
				@media(min-width: 1600px){

				}
				.FullWidthBlock{
					height: 250px !important;
					@media(min-width: 400px){
						height: 298px !important;
					}
					@media(min-width: 768px){
						height: 659px !important;
					}
				}
				.BigCenterImage{
					width: fit-content;
					margin: 0 auto;
					display: block;
				}
			}
			.SingleArticleVideo{
				height: 223px;
				@media(min-width: 400px){
					height: 267px;
				}
				@media(min-width: 768px){
					height: 437px;
				}
				.FullWidthBlock{
					height: 223px !important;
					@media(min-width: 400px){
						height: 267px !important;
					}
					@media(min-width: 768px){
						height: 437px !important;
					}
				}
				.BigCenterImage{
					position: relative;
					&:before{
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background-color: rgba($base, 0.5);
						top: 0;
						bottom: 0;
					}
					img{
						width: 100%;
					}
					.YoutubeLink{
						position: absolute;
						top: 30%;
						left: 38%;
						@media(min-width: 400px){
							top: 32%;
							left: 40%;
						}
						@media(min-width: 768px){
							top: 40%;
							left: 45%;
						}
					}
				}
			}
			.FullWidthBlock{
				position: absolute;
				width: 100%;
				left: 0;
				right: 0;
				margin: 0 auto;
				height: 400px;
				z-index: 9;
				background-color: $white;
					.slider__counter{
						position: absolute;
						left: 43%;
					    bottom: 2.5rem;
					    font-size: 16px;
					    font-family: $secondaryFont;
					    font-weight: 600;
					    right: unset;
					    @media(min-width: 400px){
							bottom: 0.65rem;
			            }
					    @media(min-width: 767px){
					    	left: 70rem;
						    bottom: 0rem;
						    display: block;
					    }
					    @media(min-width: 1400px){
					    	left: 73.5rem;
					    	bottom: -4rem;
					    }
					    @media(min-width: 1600px){
					    	right: 75.5rem;
					    	left: unset;
					    	bottom:0;
					    }
					}
				.SingleArticleGallery{
					padding-left: 0;
					position: relative;
					@media(min-width: 768px){
						padding-left: 10rem;
					}
					@media(min-width: 1600px){
						padding-left: 38rem;
					}
					.slick-slide {
					    margin: 0 10px;
					}
					/* the parent */
					.slick-list {
					    margin: 0 -10px;
					}
					button.slick-next, button.slick-next:hover {
			            position: absolute;
			            top: unset;
			            bottom: -5.8rem;
			            left: unset;
			            right: 11rem;
			            width: 35px;
			            height: 30px;
			            background: url("../img/solidarwright.svg") no-repeat;
			            background-size: 80%;
			            background-position: center;
			            /*border-radius: 50px;*/
			            z-index: 1;
			            @media(min-width: 400px){
							right: 14rem;
			            }
			            @media(min-width: 768px){
			                right: 55rem;
			            }
			            @media(min-width: 1400px){
							left: 80rem;
							bottom: -7rem;
			            }
			            @media(min-width: 1600px){
			            	left: unset;
			            	right: 70rem;
			            	bottom: -7rem;
			            }
			            &::before{
			            	content:'';
			            }
			        }
			        button.slick-prev, button.slick-prev:hover {
			            position: absolute;
			            top: unset;
			            bottom: -5.8rem;
			            left: 11rem;
			            z-index: 1;
			            width: 35px;
			            height: 30px;
			            background: url("../img/solidarwleft.svg") no-repeat;
			            background-size: 80%;
			            background-position: center;
			            /*border-radius: 50px;*/
			            z-index: 1;
			            @media(min-width: 400px){
							left: 13rem;
			            }
			            @media(min-width: 768px){
			                /*bottom: -7rem;*/
			                left: 65rem;
			            }
			            @media(min-width: 1400px){
			                left: 69rem;
			                bottom: -7rem;
			            }
			            @media(min-width: 1600px){
			            	left: unset;
			            	right: 83rem;
			            	bottom: -7rem;
			            }
			            &::before{
			            	content:'';
			            }
			        }
				}
			}
			h4{
				font-family: $secondaryFont;
				font-size: 1.8rem;
				color: rgba($base, 0.6);
				margin-bottom: 1.5rem;
			}
			h2{
				line-height: 1.4;
				margin-bottom: 0.5rem;
			}
			h5{
				color: rgba($base, 0.6);
				margin-bottom: 0;
				line-height: 1.5;
				font-family: $secondaryFont;
				font-size: 1.6rem;
			}
			h3{
				font-size: 30px;
				margin-bottom: 1.5rem;
			}
			p{
				margin-bottom: 2rem;
				line-height: 1.8;
				&:last-child{
					margin-bottom: 0;
				}
			}
			.AuthorDetails{
				display: flex;
				align-items: center;
				justify-content: space-between;
				flex-wrap: wrap;
				margin-top: 2.5rem;

				&.SocialLikes{
					.Author{
						flex-basis: 50%;
					}
					.AuthorSocial{
						flex-basis: 50%;
						justify-content: flex-end;
						margin-bottom: 0;
					}
				}
				.Author{
					.imgWrap{
						img{
							width:70px;
							height: 70px;
							border-radius: 50%;
						}
					}
					ul{
						display: flex;
						align-items: center;
						li{
							display: flex;
							justify-content: center;
							align-items: center;
							margin-right: 2rem;
							&:last-child{
								margin-right: 0;
							}
							span{
								font-size: 12px;
								color: rgba($base, 0.5);
								font-family: $secondaryFont;
							}
						}
					}
					a{
						display: flex;
						align-items: center;
						justify-content: flex-start;
						text-decoration: none;
						img{
							margin-right: 1rem;
						}
						p{
							color: $base;
							span{
								color: rgba($base,0.6);
								font-size: 12px;
								display: block;
							}
						}
					}
					.authorInfo{
						font-family: $secondaryFont;
						p{
							margin:0;
							line-height: normal;
							margin-bottom: 5px;
						}
						span{
							color:#999;
							font-size:12px;
						}
					}
				}
				.AuthorSocial{
					display: flex;
					margin-bottom: 1rem;
					.SocialBlock{
						ul{
							li{
								margin-right: 0.75rem;
									a{
										border-color: rgba(#666, 0.6);
										&:hover{
											border-color: $orange;
											span{
												background-color: $orange;
											}
										}
									}
									&:last-child{
										margin-right:0;
									}
								}
							}
						}
					}
					.moreDetail{
						display: flex;
						/*align-items: center;*/
						.bookmarkArticle{
							margin-left:.75rem;
							a {
					          svg{
					            width:15px;
					            height:18px;
					            fill:#999;
					            vertical-align: middle;
					            transition: 0.25s ease;
					          }
					          &:hover{
					          	svg{
						            fill:$base;
						        }
					          }
					        }
					        &.toggleMark{
					          a{
					            svg{
					              fill:$darkpink;
					            }
					          }
					        }
				        }
				        .threeDot{
				          cursor: pointer;
				          position: relative;
				          display: flex;
				          align-items: center;
				          justify-content: center;
				          flex-direction: row;
				          transition: 0.25s;
				          padding: 0;
				          border-radius: 50%;
				          margin-left:.75rem;
				          span{
				            display: inline-block;
				            width:5px;
				            height:5px;
				            background-color:#999;
				            border-radius: 50%;
				            margin-right: 2px;
				            transition: 0.25s;
				            &:last-child{
				              margin-right:0;
				            }
				          }
				          &:hover,&.active{
				            span{
				            background-color:$base;
				            }
				          }
				          .dropdownElement{
				            background-color:$white;
				            position: absolute;
				            left:50%;
				            bottom:35px;
				            width:155px;
				            z-index:1;
				            padding:5px 0;
				            transform: translateX(-50%) rotateX(90deg);
				            transform-origin: bottom;
				            opacity: 0;
				            transition: all .3s ease-out;
				            border:1px solid #f5f5f5;
				            box-shadow: 2px 2px 4px lightgrey;
				            font-family: $secondaryFont;
				            &.show{
				            opacity: 1;
				            transform: translateX(-50%) rotateX(0deg);
				            transform-origin: bottom;
				            }
				            &:before{
				              content: "";
				              width: 0;
				              height: 0;
				              border-left: 10px solid transparent;
				              border-right: 10px solid transparent;
				              border-top: 8px solid $white;
				              position: absolute;
				              left: 50%;
				              transform: translateX(-50%);
				              bottom: -7px;
				           }
				           @media(max-width: 767px){
				            right:-15px;
				            left:initial;
				            transform: translateX(0) rotateX(90deg);
				            &.show{
				              transform: translateX(0) rotateX(0deg);
				            }
				            &:before{
				              right:15px;
				              left:initial;
				            }
				           }
				            ul{
				              li{
				                a{
				                line-height: 1.4;
				                font-size:1.2rem;
				                color:rgba($black,0.7);
				                text-decoration: none;
				                transition: 0.25s;
				                display: block;
				                padding:5px 10px;
				                &:hover{
				                  color:$black;
				                }
				                }
				              }
				            }
				          }
				        }
					}
				}
				.SingleImg{
					margin-top: 3rem;
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					margin-bottom: 2rem;
					img{
						width: 100%;
						margin-bottom: 1rem;
					}
					p{
						color: rgba($base, 0.6);
					}
				}
			}
			.SmallRightLeftContent{
				
				margin-bottom: 2rem;
				&.BorderBox{
					padding: 1.5rem;
					border: thin solid #ccc;
				}
				.ImageBox{
					img{
						width: 100%;
					}
				}
				.ContentBox{
					margin-top: 1.5rem;
					@media(min-width: 768px){
						margin-top: 0;
					}
					h5{
						color: $base;
						font-weight: 600;
						margin-bottom: 1.5rem;
					}
					a{
						color: rgba($darkgrey, 0.5);
						font-family: $secondaryFont;
					}
				}
			}
			.CommentsBox{
				padding-top: 3rem;
    			margin-top: 3rem;
    			border-top: thin solid #ccc;
				.AuthorDetails{
					&.CommentsList{
						padding-left: 5rem;
						margin-top: 1.5rem;
					}
					.Author{
						position: relative;
						display: flex;
						align-items: center;
						justify-content: space-between;
						font-family: $secondaryFont;
						a{
							display: flex;
							align-items: center;
							.imgWrap{
								margin-right:5px;
							}
							p{
								font-weight: 600;
								margin:0;
								font-size:16px;
							}
							span{
								display: block;
								color:#999;
								font-size: 14px;
							}
					    }
						.reply{
							font-size: 14px;
							color: rgba($base, 0.6);
							font-family: $secondaryFont;
							border: thin solid rgba($base, 0.5);
							padding: 3px 10px;
							transition: 0.3s all;
							display: inline-block;
							margin-left:16px;
							transition: 0.25s ease-in-out;
							&:hover{
								background-color:$darkpink;
								color: rgba($white, 1);
								border: thin solid rgba($darkpink, 0.5);
								span{
								 color:$white;
								}
							}
						}
					}
					p{
						margin: 1.5rem 0 1rem;
						font-size: 14px;
					}
				}
			}
			.CommentForm{
				margin-top: 1.5rem;
				form{
					label{
						width: 100%;
						display: block;
						margin-bottom: 0.5rem;
						font-size: 15px;
						font-family: $secondaryFont;
						color: rgba($base, 0.5);
						margin-top: 1.5rem;
					}
					input[type="text"],input[type="email"],input[type="submit"],select,textarea{
						width: 100%;
						border: thin solid $lightgrey;
						background-color: $white;
						padding: 15px;
						font-family: $secondaryFont;
						color: $darkgrey;

						&:focus{
							outline: none;
						}
					}
					select{
						appearance:none;
					   -webkit-appearance: none;
				       -moz-appearance: none;
					   background:url('../img/navdown.svg') no-repeat 97%;
					   background-size:19px;
					}

					textarea{
						height: 114px;
					}
					input[type="submit"]{
						background-color: $darkpink;
						color: $white;
						text-transform: uppercase;
						font-weight: 600;
						margin-top: 1.5rem;
						cursor: pointer;
						width:auto;
						padding:12px 26px;
						font-size:14px;
					}
				}
			}
			.AdsBox{
				width: 100%;
				min-height: 250px;
				margin-top: 2rem;
				@media(min-width: 768px){
					margin-top: 0;
				}
				a{
					width: 100%;
					height: 100%;
					display: block;
					span{
						min-height: 250px;
						display: block;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						background-color: $lightgrey;
					}
				}
			}
		}
	.RightStickyBox{
		flex-basis: 20%;
		.AdsBox{
			width: 100%;
			min-height: 250px;
			a{
				width: 100%;
				height: 100%;
				display: block;
				span{
					min-height: 250px;
					display: block;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: $lightgrey;
				}
			}
		}
	}	
}


.UpdatedPostSection{
	padding-bottom: 3rem;
	@media(min-width: 768px){
		padding-bottom: 6rem;
	}
	.Wrapper{
		h2{
			@media(max-width: 575px){
				font-size:2.2rem;
			}
		}
	}
	.UpdatedPost{
		margin-top: 3rem;
		.slick-slide {
		    margin: 0 15px;
		}
		/* the parent */
		.slick-list {
		    margin: 0 -15px;
		}
		.slick-arrow{
          position: absolute;
          left: unset;
          right:0;
          width: 45px;
          height: 45px;
           z-index: 1;
           top:-5rem;
           transition: 0.3s;
           @media(max-width: 767px){
           	width:35px;
           	height:35px;
           }
           &::before{
           	content:'';
           }
           &:hover{
           	background-color: #0b2b6c;
           }
           @media(max-width:575px){
           	top:-4rem;
           }
		}
		.slick-next{
            left:initial;
            background: $darkpink url("../img/rightarw.svg") no-repeat center;
            background-size: 25%;
        }
        .slick-prev{
            background: $orange url("../img/leftarw.svg") no-repeat center;
            background-size: 25%;
            margin-right:45px;
            @media(max-width: 767px){
           margin-right:35px;
           }
        }
	}
}


/*Listicle Page CSS*/
.ListiclePage{
	position: relative;
	overflow: hidden;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 200px;
		@media(min-width: 768px){
			height: 280px;
		}
	}
	.SingleArticle{
		.CenterFixedBox{
			padding: 0;
			flex-basis: 100%;
			padding-right: 0;
			@media(min-width: 768px){
				flex-basis: 70%;
				padding-right: 3rem;
			}
			.TopImageBtmContentPost{
				background-color: $offwhite;
				margin-bottom: 3rem;
				.TopImage{
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					margin-bottom: 2rem;
					.PostLink{
						width: 100%;
						display: block;
					}
					img{
						width: 100%;
						margin-bottom: 1rem;
					}
					p{
						color: rgba($base, 0.6);
					}
				}
				.BtmContent{
					padding: 0 1.5rem 1.5rem;
					@media(min-width: 768px){
						padding: 0 3rem 3rem;
					}
					.AuthorDetails{
						margin-bottom: 2.5rem;
						.AuthorSocial{
							.SocialBlock{
								justify-content: flex-end;
							}
						}
					}
				}
			}
			.TopImageBtmCommentBox{
				background-color: $offwhite;
				margin-bottom: 3rem;
				&:last-child{
					margin-bottom: 0;
				}

				h3{
					padding: 1.5rem 9px;
					margin-bottom: 0;
					font-size: 20px;
					line-height: 1.3;
					@media(min-width: 768px){
						padding: 3rem;
						font-size: 24px;
					}
				}
				.TopImages{
					/*display: flex;
					align-items: center;
					justify-content: center;*/
					
					p{
						color: rgba($base, 0.6);
						text-align: center;
						padding: 1rem 0;
						font-size: 12px;
					}
				}
				.CommentReply{
					padding: 0 1.5rem 1.5rem;
					@media(min-width: 768px){
						padding: 0 3rem 3rem;
					}
					.CommentBox{
						background-color: $white;
						padding: 1.5rem;
						.HeadingFilterBox{
							display: flex;
							align-items: center;
							justify-content: space-between;
							flex-wrap:wrap;
							h5{
								font-size: 16px;
								font-weight: 600;
								color: $base;
							}
							form{
								display: flex;
								align-items: center;
								justify-content: center;
								label{
									margin: 0;
									font-size: 14px;
									color: $base;
									margin-right:5px;
								}
								select{
									background: url(../img/navdown.svg) no-repeat 92%;
								    background-size: 11px;
								    font-size: 12px;
								    padding: 0.5rem;
								    color: rgba($base, 0.6);
								    min-width:100px;
								    padding-right:20px;
								}
							}
						}
						.AddCommentBox{
							margin-top: 1.5rem;
							.ReplyBox{
								display: flex;
								align-items: flex-start;
								justify-content: flex-start;
								flex-wrap: wrap;
								img{
									flex-basis: 5%;
									margin-right: 2rem;
									height: 100%;
								}
								input[type="text"]{
									flex-basis: 78%;
									padding: 11px;
									background-color: $offwhite;
									font-size: 12px;
									@media(min-width: 400px){
										flex-basis: 81%;
									}
									@media(min-width: 768px){
										flex-basis: 92%;
									}
								}
							}
							.facebookPost{
								width:92%;
								margin-left: auto;
								.inputGroup{
									border:1px solid #ccc;
									display: flex;
									align-items: center;
									justify-content: space-between;
									padding:4px 10px;
									.checkboxfield{
										display: flex;
										align-items: center;
										justify-content: space-between;
										cursor: pointer;
										label{
											margin: 0;
											margin-left:8px;
											font-size:10px;
										}
									}
									input[type="submit"]{
									    background-color: $black;
									    padding: 4px 8px;
									    margin: 0;
									    font-size: 12px;
									    text-transform: capitalize;

									}
							    }
							}
						}
					}
				}
			}
		}
		.RightStickyBox{
			flex-basis: 30%;
		}
	}
}