
.TrendsBlogCards{
	padding-top: 3rem;
	position: relative;
      @media (min-width: 768px){
            padding-top: 6rem;    
      }
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 60%;
		background-color: $darkpink;
		top: 0;
    z-index:-1;
    @media(max-width: 1199px) and (min-width: 992px){
      height:55%;
    }
    @media(max-width: 991px) and (min-width: 768px){
      height:46%;
    }
    @media(max-width: 767px){
      height:26%;
    }
	}
  .TopHeading{
    h2{
      color:$white;
    }
  }
		.Btnwrapper{
			margin-top: 3.5rem;
      @media(max-width: 767px){
        margin-top:0;
      }
		}
}