.Section {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	@media screen and (min-width: 768px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}


.SmallContainer {
  max-width: 800px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  .Ipad{
  	flex: 0 0 100%;
  	max-width: 100%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1299px) and (orientation:landscape) {
  .Ipad{
  	flex: 0 0 100%;
  	max-width: 100%;
  }
}