.innerPageSlider{
    padding-top: 3rem;
    .TopHeading{
        margin-bottom:2rem;
        h2{
            margin-bottom: 0;
        }
    }
        .wrapper{
        .singleSlide{
            .innerWrap{
                display: flex;
                flex-wrap:wrap;
                background-color:#d20061;
                .ImageBlock{
                    @media(min-width:768px){
                        flex:0 0 55%;
                        max-width: 55%;
                    }
                    img{
                        width:100%;
                        @media(min-width: 768px){
                            height:100%;
                        }
                    }
                }
                .ContentBlock{
                    color:$white;
                    padding:2rem;
                    display: flex;
                    flex-wrap: wrap;
                    align-content: space-between;
                    @media(min-width:768px){
                        padding:3.5rem;
                        flex:0 0 45%;
                        max-width: 45%;
                    }
                    @media(min-width:768px) and (max-width: 991px){
                        padding:2.5rem;
                    }
                    .topBar{
                        font-family: $secondaryFont;
                        margin-bottom: 2.3rem;
                        ul{
                            display: flex;
                            align-items: center;
                            li{
                                font-size:12px;
                                text-transform: uppercase;
                                display: flex;
                                align-items: center;
                                margin-right:15px;
                                @media(min-width:768px) and (max-width: 991px){
                                   margin-right: 10px;
                                }
                                &:first-child{
                                    position:relative;
                                    padding-right:15px;
                                    margin-right: 0;
                                    &::after{
                                        content:'';
                                        position: absolute;
                                        top: 48%;
                                        right: 6px;
                                        width:3px;
                                        height:3px;
                                        background-color:$white;
                                        border-radius:50%;
                                        opacity: 0.8;
                                    }
                                    &:last-child{
                                        margin-right:0;
                                    }
                                }
                                a{
                                    svg{
                                        width:16px;
                                        height:15px;
                                        fill:rgba($white,0.8);
                                        transition: 0.3s;
                                    }
                                    &:hover,&.active{
                                        svg{
                                          fill:$white;
                                        }
                                    }
                                    &:focus{
                                        outline: none;
                                    }
                                }
                                &.shareArticle{
                                    position: relative;
                                     .socialShare{
                                    position:absolute;
                                    left: 100%;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    padding:7px 10px;
                                    width:170px;
                                    background-color:#e3e3e3;
                                    border-radius:4px;
                                    transform: translateY(-50%) rotateX(90deg);
                                    transform-origin: bottom;
                                    opacity: 0;
                                    transition: all .3s ease-out;
                                    z-index: 1;
                                    ul{
                                      display: flex;
                                      align-items: center;
                                      justify-content: space-between;

                                      li{
                                        a{
                                          width: 25px;
                                          height: 25px;
                                          @include FlexCenter;
                                          border-radius: 50%;
                                          border:1px solid rgba($base,0.6);
                                          &:hover{
                                            border-color:$base;
                                          }
                                        }
                                        &::after{
                                          display: none;
                                        }
                                      }
                                    }
                                    &.show{
                                     opacity: 1;
                                    transform: translateY(-50%) rotateX(0deg);
                                    transform-origin: bottom;
                                    margin-left:5px;
                                    }
                                    @media(max-width: 1199px){
                                    right:-15px;
                                    top:100%;
                                    left:initial;
                                    transform: translateX(0) rotateX(90deg);
                                    &.show{
                                      transform: translateX(0) rotateX(0deg);
                                    }
                                   }
                                  }
                                }
                                &.toggleMark{
                                    svg{
                                        fill:$white;
                                    }
                                }
                            }
                        }
                    }
                    .headingContent{
                        h3{
                            font-size:2.4rem;
                            margin-bottom:1.8rem;
                            @media(min-width: 992px){
                                font-size:3.6rem;
                            }
                        }
                        p{
                            color:$white;
                            /*max-width: 412px;*/
                            width:100%;
                        }
                    }
                    .bottomContent{
                        h4{
                            font-size:16px;
                            font-weight: 500;
                            color:$white;
                            margin-bottom: 2rem;
                            a{
                                display: inline-block;
                                position: relative;
                                transition: 0.3s ease-in-out;
                                &::after{
                                    content:'';
                                    position: absolute;
                                    bottom:-5px;
                                    left:0;
                                    width:21px;
                                    height:1px;
                                    background-color: $darkpink;
                                    transition: 0.3s ease-in-out;
                                }
                                &:hover{
                                    letter-spacing: 1.5px;
                                    &::after{
                                      width:100%;
                                    }
                                }
                            }
                        }
                        small{
                            font-family: $secondaryFont;
                            text-transform:uppercase;
                            font-size:12px;
                            letter-spacing: 2.3px;
                        }
                    }
                }
            }
        }
        .slick-arrow{
            top:50%;
            transform:translateY(-50%);
            width:45px;
            height:45px;
            z-index:1;
            transition: 0.3s;
            &.slick-prev{
                left:0;
                width: 45px;
                height: 45px;
                background: #ef5214 url(../img/leftarw.svg) no-repeat center;
                background-size:13px 25px;
                &:before{
                    content:'';
                }
                @media(max-width: 767px){
                    top:-34px;
                    right: 0;
                    left: initial;
                    margin-right: 45px;
                }
            }
            &.slick-next{
                right:0;
                background: #ef5214 url(../img/rightarw.svg) no-repeat center;
                background-size:13px 25px;
                &:before{
                    content:'';
                }
                @media(max-width: 767px){
                    top:-34px;
                }
            }
            &:hover{
                background-color:$darkblue;
            }
        }
    }   
    &.HomeBanner{
        padding-top:0;
        .wrapper{
            .singleSlide{
                position: relative;
                &::after{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background-color: $darkpink;
                    right: 15px;
                    bottom: 15px;
                }
                .innerWrap{
                    background-color: #0a2b6b;
                }
            }
            .slick-arrow{
            top:initial;
            transform: none;
            width:45px;
            height:45px;
            z-index:1;
            bottom:6px;
            right:initial;
            transition: 0.3s;
            &:before{
                content:'';
            }
                &.slick-prev{
                    left:0;
                    background-color: #ef5214;   
                    background-size:13px 25px;
                    @media(max-width: 767px){
                     right:0;
                     left:initial;
                      bottom:0;
                    }
                }
                &.slick-next{
                    left:0;
                    margin-left:45px;
                    background-color: $darkpink;
                    background-size:13px 25px;
                    @media(max-width: 767px){
                      right:0;
                     left:initial;
                     bottom:0;
                    }
                }
                &:hover{
                    background-color:$darkblue;
                }
            }
        }
    }
}

