.TestimonialsBlock{
	.StaticContent{
		h2{
			line-height: 1.3;
			@media(max-width:991px){
				font-size:2.4rem;
			}
		}		
		p{
			color: $darkgrey;
			font-size: 19px;
		}
	}
	.BtnWrapper{
		margin-top: 2rem;
		margin-bottom: 5rem;
		@media(min-width: 768px){
			margin-top: 4rem;
			margin-bottom: 0rem;
		}
	}
	.testinomials{
		background-color: $offwhite;
		padding: 4rem 15px;
		position: relative;
		color: $darkgrey;
		@media(min-width: 768px){
			padding: 4rem;
		}
		@media(max-width: 575px){
			margin:0 -15px;
		}
		&:before{
			content: '';
			position: absolute;
			width: 66px;
			height: 46px;
			top: -2.5rem;
			left: 4rem;
			background: url(../img/quote.svg) no-repeat;
			@media(max-width: 767px){
				width: 50px;
                height: 40px;
                top: -2rem;
                left: 2rem;
                background-size: contain;
			}
		}
		.testimonialsSlider{
			margin-bottom: 15px;
			@media(min-width: 768px){
				margin-bottom: 30px;
			}
			.SlideBlock{
				p{
					line-height: 1.8;
				}
				h5{
					font-size: 16px;
					font-family: $secondaryFont;
					margin-top: 2.5rem;
				}
				.Author{
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin-top: 3.5rem;
					color: $base;
					img{
						margin-right: 2rem;
					}
					p{
						margin-bottom: 0;
						font-weight: 600;
						font-size: 24px;
						line-height: 1.2;
						span{
							font-size: 16px;
							opacity: 0.5;
						}
						@media(max-width: 991px){
							font-size:20px;
							span{
								font-size:14px;
							}
						}
					}
				}
			}
			.slick-dots{
				text-align: left;
				display: block;
				position: inherit;
				margin-top: 1rem;
				li{
					button{
						border: thin solid $darkpink;
						border-radius: 50px;
						&:before{
							display: none;
						}
					}
					&.slick-active{
						button{
							background-color: $darkpink;
						}
					}
				}
			}

		}
	}
}