.MyProfile{
	background-color:$offwhite;
	.sideNavbar{
		h2{
			font-size:2.4rem;
			color:$black;
			img{
				display: none;
			}
			@media(max-width: 991px){
				margin-bottom:0;
				cursor: pointer;
				background-color:#d20061;
				color:$white;
				text-align: center;
				font-family:$secondaryFont;
				font-size:1.8rem;
				font-weight:600;
				transition: 0.3s;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding:15px;
				img{
					width:18px;
					display: block;
				}
				&:hover{
					background-color:$orange;
				}
			}
		}
		ul{
			@media(max-width: 991px){
				display: none;
				border:1px solid lightgray;
			}
			li{
				font-family:$secondaryFont;
				/*background-color:#0b2b6c;*/
				padding:1.5rem;
				display: flex;
				transition: all 0.25s;
				color:$base;
				&:not(:last-child){
				margin-bottom:0.7rem;
			    }
			    svg{
		    		width:20px;
		    		height: 20px;
		    		fill:$base;
		    		margin-right:1.6rem;
		    		transition: 0.25s;
			    }
				a{
					width:100%;
					display: block;
					font-weight: 600;
				}
				&:hover{
					background-color:#ccc;
					color:$white;
					svg{
						fill:$white;
					}
				}
				&.active{
					color:$white;
					position: relative;
					background: #0b2b6c;
					svg{
						fill:$white;
					}
					&:after{
						content:'';
						position: absolute;
						top:50%;
						transform: translateY(-50%);
						right:1.5rem;
						background:url('../img/right_arrow.svg') no-repeat;
						background-size: contain;
						width:14px;
						height:14px;
						@media(max-width:991px){
							transform: translateY(-50%) rotate(90deg);
						}
					}
				}
			}
		}
	}
	.contentWrap{
		background-color:$white;
		.heading{
			padding:2rem 4.5rem;
			background-color:#0b2b6c;
			h3{	
				margin-bottom: 0;
				color:$white;
				font-family: $secondaryFont;
				font-weight: 600;
				font-size: 1.8rem;
			}
			@media(max-width: 575px){
				padding:20px 15px;
			}
	    }
	    .innerWrap{
	    	background-color: $white;
	    	padding: 4rem 4.5rem;
	    	@media(max-width: 575px){
	    		padding:2rem;
	    	}
	    	form{
	    		display: flex;
	    		flex-wrap:wrap;
	    		margin-left:-8px;
	    		margin-right:-8px;
	    		font-family: $secondaryFont;
	    		.form-group{
	    			flex:0 0 50%;
	    			max-width: 50%;
	    			padding:0 8px;
	    			margin-bottom: 1.5rem;
	    			@media(max-width: 575px){
	    				flex:0 0 100%;
	    				max-width:100%;
	    			}
	    			label{
	    				display: block;
	    				font-size:1.4rem;
	    				margin-top:0;
	    				margin-bottom:5px;
	    			}
	    			input,select{
	    				width:100%;
	    				border:1px solid #e9e9e9;
	    				outline: none;
	    				padding:8px 10px;
	    				background-color:transparent;
	    				font-size:15px;
	    				transition:0.3s;
	    				&:focus{
	    					border-color:#0b2b6c;
	    				}
	    			}
	    			select{
	    				  appearance:none;
	    				 -webkit-appearance: none;
                         -moz-appearance: none;
	    				background:url('../img/navdown.svg') no-repeat 97%;
	    			}
	    			
	    			&:last-child{
	    				display: flex;
	    				align-items: center;
	    				justify-content: space-between;
                        @media(max-width: 767px){
                        	flex-direction: column;
                        }
	    				input[type="submit"],input[type="button"]{
	    				border-color:$darkpink;
	    				width:auto;
	    				cursor: pointer;
	    				font-size:14px;
	    				transition: 0.3s;
	    				text-transform: uppercase;
	    				width:115px;
	    				padding:1.2rem;
	    				font-weight:700;
	    				@media(min-width:576px) and (max-width: 1199px){
	    					width:auto;
	    				}
	    			    }
	    			    input[type="submit"]{
	    			    	background-color: $darkpink;
	    			    	color:$white;
	    			    	margin-top:0;
	    			    	margin-right:5px;
	    			    	@media(max-width: 767px){
	    			    		margin-top: 3rem;
	    			    	}
	    			    	&:hover{
	    			    		background-color:transparent;
	    			    		color:$darkpink;
	    			    	}
	    			    }
	    			    input[type="button"]{
	    			    	background-color: transparent;
	    			    	color:$darkpink;
	    			    	&:hover{
	    			    		background-color:$darkpink;
	    			    		color:$white;
	    			    	}
	    			    }
	    			}
	    		}
	    	}

	    	/*Followwing css*/
	    	.list{
	    		ul{
	    			li{
	    				display: flex;
	    				flex-wrap: wrap;
	    				align-items: center;
	    				justify-content: space-between;
	    				color:$darkgrey;
	    				font-family: $secondaryFont;
	    				padding:1.5rem 0;
	    				border-bottom: thin solid rgba(#ccc,0.5);
	    				&:first-child{
	    					padding-top:0;
	    				}
	    				.leftSide{
	    					a{
	    						display: flex;
	    						align-items: center;
	    						.imgWrap{
	    							margin-right:1.5rem;
	    						}
	    						h4{
	    							@media(max-width: 575px){
	    								font-size:2rem;
	    							}
	    							transition:0.25s;
	    						}
	    						span{
	    							opacity: 0.6;
	    						}
	    						&:hover{
	    							h4{
	    								color:$darkpink;
	    							}
	    						}
	    					}
	    				}
	    				.rightSide{
	    					select{
	    						 appearance:none;
			    				 -webkit-appearance: none;
		                         -moz-appearance: none;
		                         border:none;
		                         outline:none;
		                         padding-right:15px;
		                         cursor: pointer;
		                         opacity: 0.6;
			    				background:url('../img/navdown.svg') no-repeat center right;
	    					}
	    				}
	    				/*Saved Article Css*/
	    				>a{
	    					display: flex;
	    					flex-wrap:wrap;
	    					align-items: center;
	    					justify-content: space-between;
	    					margin-bottom: 1rem;
	    					.leftSide{
	    						flex: 0 0 75%;
                                 max-width: 75%;
                                 h4{
                                 	margin-bottom: 1rem;
                                 	@media(max-width: 767px){
                                 		font-size:2rem;
                                 	}
                                 }
                                 .authorDetails{
                                 	display: flex;
                                 	align-items: center;
                                 	span{
                                 		font-size:12px;
				    					color:#2d2c2d;
					    				opacity: 0.6;
					    				font-weight: 600;
					    				&:first-child{
					    					position:relative;
					    					padding-right:15px;
					    					&::after {
								            content: '';
								            position: absolute;
								            top: 47%;
								            right: 6px;
								            width: 3px;
								            height: 3px;
								            background-color: $base;
								            border-radius: 50%;
								            opacity: 0.8;
								          }
					    				}
                                 	}
                                 }
                                /* @media(max-width: 575px){
                                 	flex:0 0 100%;
                                 	max-width:100%;
                                 	order:2;
                                 	margin-top:1rem;
                                 }*/
	    					}

	    					&:hover{
	    						h4{
	    							color:$darkpink;
	    						}
	    					}
	    				}
	    				.remove{
	    					display: flex;
	    					align-items: center;
	    					a{
	    					color:#a5a4a5;
	    					display: flex;
	    					align-items: center;
	    					font-size:12px;
	    					color:#2d2c2d;
		    				opacity: 0.6;
		    				font-weight: 600;
	    					&:not(:last-child){
	    						margin-right:3rem;
	    					}
			    				svg{
			    					width:16px;
			    					height:16px;
			    					fill:#2d2c2d;
			    					opacity: 0.6;
			    					margin-right:5px;
			    				}
			    				&:hover{
			    					color:red;
			    					svg{
			    						fill:red;
			    					}
			    				}
		    			    }
	    			    }
	    			    &.twoWaylist{
	    			    	.leftSide{
	    			    		flex:0 0 75%;
	    			    		max-width: 75%;
	    			    		.innerLeft{
	    			    			display: flex;
	    			    			.imgWrap{
	    			    				margin-right:2rem;
	    			    				img{
	    			    					height: 100%;
	    			    					width:110px;
	    			    				}
	    			    			}
	    			    			h4{
	    			    				font-size:20px;
	    			    				margin-bottom:1rem;
	    			    			}
	    			    			.category{
	    			    				font-size:12px;
	    			    				color:#2d2c2d;
	    			    				opacity: 0.6;
	    			    				font-weight: 600;
	    			    				margin-bottom:18px;
	    			    			}
	    			    			@media(max-width: 767px){
	    			    				/*flex-direction:column;*/
	    			    				.imgWrap{
	    			    					margin-bottom: 1rem;
	    			    					flex:0 0 25%;
	    			    				}
	    			    			}
	    			    		}
	    			    		@media(max-width: 767px){
	    			    			flex:0 0 100%;
	    			    			max-width:100%;
	    			    			margin-bottom:2rem;
	    			    		}
	    			    	}
	    			    	.rightSide{
	    			    		border-left: thin solid rgba(#ccc,0.5);
	    			    		padding: 2rem 0 2rem 2rem;
	    			    		@media(max-width: 767px){
	    			    			border:none;
	    			    			padding:0;
	    			    		}
	    			    		h5{
	    			    			font-family: $secondaryFont;
	    			    			font-size:1.6rem;
	    			    			color:$darkblue;
	    			    			font-weight: 600;
	    			    		}
	    			    		span{
	    			    			font-size:12px;
	    			    			color:#2d2c2d;
	    			    			opacity: 0.6;
	    			    			font-weight: 600;
	    			    		}
	    			    	}
	    			    }
	    			}
	    		}
	    	}
	    }
	}

	.savedArticle{
		.contentWrap{
           .innerWrap{
           	.list{
           		ul{
           			li{
           				.rightSide{
           					@media(max-width:575px){
           						flex:0 0 25%;
           						padding-left:10px;
           					}
           				}
           			}
           		}
           	}
           }
		}
	}
}


.avatar-upload {
    position: relative;
    max-width: 72px;
    /*margin: 50px auto;*/
    .avatar-edit {
        position: absolute;
        right: -7px;
        z-index: 1;
        bottom: 0;
        input {
            display: none;
            + label {
                display: inline-block;
                background-color:$black;
                width: 28px;
                height: 26px;
                border-radius: 4px;
                margin:0 !important;
                cursor: pointer;
                transition: all .2s ease-in-out;
                &:hover {
                    background-color:#0b2b6c;
                }
                &:after {
                    content:'';
                    background:url('../img/camera.png') no-repeat center;
                    width:20px;
                    height:20px;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
        }
    }
    .avatar-preview {
        width: 72px;
        height: 72px;
        position: relative;
        border-radius: 100%;
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color:$orange;
        }
    }
}