
.whiteBoxForm{
	padding:3rem 2rem;
	background-color: $white;
	border: thin solid $lightgrey;
	@media(min-width: 768px){
		padding:4.4rem 5.2rem;
	}
	&.guidelineForm{
		border:none;
		padding:0;
		padding-bottom:80px;
		input[type="submit"]{
			width:100%;
		}
	}
	.formHeading{
		margin-bottom: 4rem;
	}

	form{
		.row{
			>div{
				margin-bottom:2.4rem;
			}
		}
		label{
			width: 100%;
			display: block;
			margin-bottom: 0.5rem;
			font-size: 15px;
			font-family: $secondaryFont;
			color: rgba($darkgrey, 0.5);
		}
		input[type="text"],input[type="email"],input[type="submit"],select,textarea{
			width: 100%;
			border: thin solid #ccc;
			background-color: $white;
			padding: 15px;
			font-family: $secondaryFont;
			color: $darkgrey;

			&:focus{
				outline: none;
			}
		}
		select{
			appearance:none;
		   -webkit-appearance: none;
	       -moz-appearance: none;
		   background:url('../img/navdown.svg') no-repeat 96%;
		   background-size:20px 10px;
		}

		textarea{
			height: 114px;
		}
		input[type="submit"]{
			background-color: $darkpink;
			color: $white;
			text-transform: uppercase;
			font-weight: 600;
			cursor: pointer;
			width:auto;
			padding:15px 30px;
			transition: 0.25s;
			&:hover{
				background-color:$orange;
			}
		}
		.Note{
			display: flex;
			align-items: center;
			height: 90%;
			p{
				margin-bottom: 0;
				span{
					font-weight: 600;
				}
				a{
					text-decoration: none;
					color: $base;
					font-weight: 600;
					&:hover{
						color:$darkpink;
					}
				}
			}
		}
		.UploadFile{
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px dashed $lightgrey;	
			padding: 2rem;
			margin-top:2.8rem;
			flex-direction: column;
			background-color: $offwhite;
			@media(max-width:991px){
				margin-top:0;
			}
			label{
				width: auto;
				margin: 0;
				padding: 1rem 3rem;
				color: $white;
				background-color: $orange;
				font-weight: 600;
				cursor: pointer;
				&:hover{
					background-color:$darkpink;
				}
			}				
			input[type="file"]{
				display: none;
			}
			span{
				display: block;
				color: $grey;
				margin-top: 1rem;
				font-size: 14px;
				font-family: $secondaryFont;
			}
		}
	}

}

form{
	label{
		width: 100%;
		display: block;
		margin-bottom: 0.5rem;
		font-size: 15px;
		font-family: $secondaryFont;
		color: rgba($base, 0.5);
	}
	input[type="text"],input[type="email"],input[type="submit"],select,textarea{
		width: 100%;
		border: thin solid $lightgrey;
		background-color: $white;
		padding: 15px;
		font-family: $secondaryFont;
		color: $darkgrey;

		&:focus{
			outline: none;
		}
	}
	select{
		appearance:none;
	   -webkit-appearance: none;
       -moz-appearance: none;
	   background:url('../img/navdown.svg') no-repeat 97%;
	   background-size:19px;
	}

	textarea{
		height: 114px;
	}
	input[type="submit"]{
		background-color: $darkpink;
		color: $white;
		text-transform: uppercase;
		font-weight: 600;
		margin-top: 1.5rem;
		cursor: pointer;
		width:auto;
		padding:15px 30px;
	}
	.Note{
		margin-top: 1.5rem;
		display: flex;
		align-items: center;
		height: 90%;
		p{
			margin-bottom: 0;
			span{
				font-weight: 600;
			}
			a{
				text-decoration: none;
				color: $base;
				font-weight: 600;
			}
		}
	}
	.UploadFile{
		display: flex;
		align-items: center;
		justify-content: center;
		border: 2px dashed $lightgrey;	
		padding: 2rem;
		flex-direction: column;
		background-color: $offwhite;
		label{
			width: auto;
			margin: 0;
			padding: 1rem 3rem;
			color: $white;
			background-color: $orange;
			font-weight: 600;
			cursor: pointer;
		}				
		input[type="file"]{
			display: none;
		}
		span{
			display: block;
			color: $grey;
			margin-top: 1rem;
			font-size: 14px;
			font-family: $secondaryFont;
		}
	}
}