* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
  background: $white;
  overflow: hidden;
}
body {
  font: 400 16px/1.4 $primaryFont;
  color: $base;
  /*transition: all .4s .3s ease-in;*/
  transition: 0.4s;
  -webkit-font-smoothing: antialiased;
}
body,html{
  min-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  color: $darkgrey;
  font-family: $secondaryFont;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: $primaryFont;
  /*font-weight: 700;*/
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: $primaryFont;
  color: $darkgrey;
  line-height: 1;
  font-weight: normal;
  @media (min-width: 768px){
    font-size: 4rem;
  }
}

h2 {
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: $primaryFont;
  color: $darkgrey;
  line-height: 1.2;
  font-weight: normal;
  @media (min-width: 768px){
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 2rem;
  font-family: 'Didot';
  font-weight: 500;
}

h4 {
  font-size: 2.4rem;
  font-weight: normal;
  font-family: $primaryFont;
  color: $darkgrey;
}

h5 {
  font-size: 1.4rem;
  font-weight: normal;
  font-family: $primaryFont;
  color: $darkgrey;
}

h6{
  font-size: 1rem;
}
a{
  color:inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
  &.Width100 {
    width: 100%;
  }
}
svg{
  vertical-align: middle;
}

ul{
  list-style: none;
  padding:0;
  margin:0;
}

.alignItemCenter{
  align-items: center;
}

.alignSelfCenter{
  align-self: center;
}

.order-2-lg{
  @media(max-width:991px){
    order:2;
  }
}

.order-2-md{
  @media(max-width:767px){
    order:2;
  }
}


.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.CenterText {
  text-align: center;
}

.px-0{
  padding-left:0;
  padding-right:0;
}
.py-0{
  padding-top:0;
  padding-bottom:0;
}
.py-4{
  padding:4rem 0;
}
.Pt40 {
  padding-top: 40px;
}

.Pb40 {
  padding-bottom: 5rem;
}

.MBottom2{
  margin-bottom: 2rem;
}

.MBottom3{
  margin-bottom: 3rem;
}

.MBottom4{
  margin-bottom: 4rem;
}

.MBottom15{
  margin-bottom: 1.5rem;
}
.MTop2{
  margin-top: 2rem;
}

.MTop3{
  margin-top: 3rem;
}

.MTop4{
  margin-top: 4rem;
}
.MTop5{
  margin-top: 5rem;
}

.mb-3-lg{
 @media(max-width:991px){
  margin-bottom: 3rem;
 }
}

.mb-2-md{
 @media(max-width:767px){
  margin-bottom: 2rem;
 }
}

.mb-3-md{
 @media(max-width:767px){
  margin-bottom: 3rem;
 }
}

.mb-3-sm{
 @media(max-width:575px){
  margin-bottom: 3rem;
 }
}

.pt-0{
  padding-top:0 !important;
}
.pl-0{
  padding-left:0 !important;
}
.pr-0{
  padding-right:0;
}
.pb-0{
  padding-bottom:0 !important;
}
.mb-0{
  margin-bottom: 0;
}
.mb-3{
  margin-bottom: 3rem;
}
.mb-2-sm{
  @media(max-width:575px){
    margin-bottom: 2rem;
  }
}

.DesktopOnly{
  display: none !important;
  @media (min-width: 768px) {
      display: block !important;
    }
}

.MobileOnly{
  @media (min-width: 768px) {
      display: none !important;
    }
}

.DesktopFooter{
  display: none;
  @media (min-width: 1024px) {
      display: block;
    }
}

.MobileFooter{
  @media (min-width: 1024px) {
      display: none;
    }
}

.MobileSpaceOnly {
  padding-top: 3rem;
  @media (min-width: 768px) {
    padding-top: 0;
  }
}

.GreyBgSection{
  background-color: $offwhite;
}

.BlueBgSection{
  background-color: $blue;
}

.orangeBullets{
  margin-bottom: 3rem;
  ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        &:first-child{
          margin-top: 0;
        }
        font-size: 16px;
        font-weight: 600;
        color: $base;
        font-family: $secondaryFont;
        padding-left: 2.5rem;
        margin-top: 1.5rem;
        position: relative;
        &:before{
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $orange;
          left: 0;
          top: 4px;
        }
      }
    }
}

.TopHeading{
  margin-bottom:1.8rem;
  h2{
    margin-bottom:0;
    @media (max-width: 991px) and (min-width: 768px){
      font-size:2.6rem;
    }
    @media(max-width: 575px){
      font-size:2.4rem;
    }
  }
  &.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
      font-family: $secondaryFont;
      color:#2c2c2c;
      font-size:1.4rem;
      letter-spacing: 1px;
      font-weight:400;
      transition: 0.3s;
      &:hover{
        color:$black;
        text-decoration: underline;
      }
    }
  }
 }

.BaseColor{
  color : $base;
}

.WhiteColor{
  color : $white;
}


.pagination{
    padding-top:3rem;
    ul{
      display: flex;
      align-items: center;
      justify-content: center;
      li{
        &.leftBtn,&.rightBtn{
        width:46px;
        height:46px;
        background-color:#ccc;
        text-align: center;
        padding:1.2rem;
        cursor: pointer;
        transition: 0.25s;
        display: flex;
          align-items: center;
          justify-content: center;
        &:hover{
          background-color:#ef5214;
        }
          }
          font-family:$secondaryFont;
          span{
            display: block;
            padding:0 20px;
          }
      }
    }
  }

  .ContriSection{
      padding: 1.5rem;
      background-color: #e3e3e3;
      margin-top: 3rem;
    .ArticleBox {
      padding: 1.8rem 1.5rem;
      background-color: $white;
      border: 2px dashed #8b8b8b;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      align-content: space-around;
      height: 100%;
      h4 {
        font-size: 16px;
        text-align: center;
        line-height: 1.8;
        color: #212121;
        position: relative;
        padding-bottom: 2rem;
        font-weight:400;
        span {
          font-weight: 600;
          display: block;
        }
        &:after {
          content: "";
          position: absolute;
          border-bottom: 1px dashed #8b8b8b;
          width: 80px;
          height: 1px;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
        span {
          color: #414141;
        }
      }
      p {
        color: $base;
        padding-top: 2rem;
        text-align: center;
        font-size: 16px;
      }
      .Btnbox {
        margin-top: 2rem;
        .BlackBtn{
          @media (max-width: 991px) and (min-width: 768px){
              padding:1rem;
              font-size:13px;
            }
         }
      }
    }
    &.large{
      margin-top:0;
      height: 100%;
      .ArticleBox{
        h4{
          font-size:20px;
          @media (max-width: 991px) and (min-width: 768px){
            font-size:1.6rem;
            line-height: normal;
          }
        }
      }
    }
  }


/*BookMark Global CSS*/
.bookmarkArticle{
a {
      svg{
        width:15px;
        height:15px;
        fill:#999;
        vertical-align: middle;
        transition: 0.25s ease;
      }
      &:hover{
        fill:$base;
      }
    }
    &.toggleMark{
      a{
        svg{
          fill:$darkpink;
        }
      }
    }
  }

/*Article threedot Global CSS*/
  .threeDot{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /*flex-direction: column;*/
    transition: 0.25s;
    border-radius: 50%;
    span{
      display: block;
      width:4px;
      height:4px;
      background-color:#999;
      border-radius: 50%;
      margin-bottom: 2px;
      transition: 0.25s;
      &:last-child{
        margin-right:0;
      }
    }
    &:hover,&.active{
      span{
      background-color:$base;
      }
    }
    .dropdownElement{
      background-color:$white;
      position: absolute;
      left:50%;
      bottom:35px;
      width:155px;
      z-index:1;
      padding:5px 0;
      transform: translateX(-50%) rotateX(90deg);
      transform-origin: bottom;
      opacity: 0;
      transition: all .3s ease-out;
      border:1px solid #f5f5f5;
      box-shadow: 2px 2px 4px lightgrey;
      &.show{
      opacity: 1;
      transform: translateX(-50%) rotateX(0deg);
      transform-origin: bottom;
      }
      &:before{
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 8px solid $white;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -7px;
     }
     @media(max-width: 767px){
      right:-15px;
      left:initial;
      transform: translateX(0) rotateX(90deg);
      &.show{
        transform: translateX(0) rotateX(0deg);
      }
      &:before{
        right:15px;
        left:initial;
      }
     }
      ul{
        li{
          a{
          line-height: 1.4;
          font-size:1.2rem;
          color:rgba($black,0.7);
          text-decoration: none;
          transition: 0.25s;
          display: block;
          padding:5px 10px;
          &:hover{
            color:$black;
          }
          }
        }
      }
    }
  }