$base : #2D2C2D;
$black: #000;
$lightpink: #fdf7e8;
$darkpink: #D20061;
$white: #fff;
$offblack: #4A4A4A;
$offwhite: #f5f5f5;
$offgreen: #E8F9FD;
$darkblue:#0b2b6c;
$skyblue: #01A7FD;
$yellow: #FFCC00;
$lightyellow: #FFD000;
$lightgrey: #e3e3e3;
$darkgrey: #2C2C2C;
$offgrey: #242324;
$orange: #EF5214;
$grey: #454545;
$blue: #0a2b6b;
$twitter: #00ACEE;
$linkedin: #0079BB;
$insta: #D24569;
$facebook: #3B5A98;

$nightBlack: #1c1c1c;


$primaryFont: 'Didot';
$secondaryFont: 'Montserrat', sans-serif;
