@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');


@font-face {
    font-family: 'Didot bold';
    src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Didot.woff') format('woff'), url('../fonts/Didot.ttf')  format('truetype'), 
    url('../fonts/Didot.svg#Didot') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Didot medium';
    src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Didot.woff') format('woff'), url('../fonts/Didot.ttf')  format('truetype'), 
    url('../fonts/Didot.svg#Didot') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Didot italic';
    src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Didot.woff') format('woff'), url('../fonts/Didot.ttf')  format('truetype'), 
    url('../fonts/Didot.svg#Didot') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Didot';
    src: url('../fonts/Didot.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Didot.woff') format('woff'), url('../fonts/Didot.ttf')  format('truetype'), 
    url('../fonts/Didot.svg#Didot') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}